[2015-08-12 03:40] candeira opened #2 "Sample.py breaks on second run"
When running the testserver and running sample.py via its button, it works fine the first time, but throws an exception on second and subsequent button pushes:

Caught exception during execution: TypeError: Cannot read property 'hasOwnProperty' of undefinedCaught exception during execution: TypeError: this.manage_block_stack is not a functionCaught exception during execution: null

This was on Chr

[2015-08-13 01:56] freakboy3742 commented on #2
I've done some investigation; the problem appears to be leakage between VM instances. Each time you press the "Run" button, it creates a fresh VM. However, on the second execution, references to the first VM are still hanging around; the crash is caused because the code is running in the first VM, but asking the second VM for stack information (that doesn't exist, because nothing has been executed

[2015-08-13 13:16] #2 closed

[2015-08-23 06:56] glasnt opened #8 "Issue with __local__ on sample.py"
I tried to run the sample.py via the testserver harness, and got some issues, which I think I resolved in #7 .

However, now I'm seeing the python error `NameError: local variable '__locals__' referenced before assignmentnull`  in the testserver output.

It appears to be coming from the `Point` class, because if I remove the `Point` class code from sample.py code, it runs ok.

[2015-08-23 08:35] freakboy3742 commented on #8
I'm definitely not seeing this; Can you provide details about the test environment? In particular:
* Django version
* Python version (including value of sys.maxsize)
* Operating system + version

[2015-08-23 08:46] glasnt commented on #8
[code]

[2015-08-23 11:25] freakboy3742 commented on #8
I take it this is under Chrome on Ubuntu?

Also - I also note that you're using Python 3.3 on the server; I don't *think* that will be a problem - I'm not aware of any incompatibilities in the bytecode between 3.3 and 3.4, but it's noteworthy. Is that the stock Python3 from apt-get? And if so - which Ubuntu release are you using?

[2015-08-23 23:53] glasnt commented on #8
Ubuntu 14.04 LTS
Python3 is latest from apt-get

[2015-08-24 00:22] glasnt commented on #8
Yup, this totally works using python 3.4.1 as opposed to python 3.3.3

Tested to work on both Firefox and Chromium.

Interestingly enough, running the testserver from commit b69b2b7 works as is for me now, using this new python version. So the changes in #7 might be superfluous, but meh.

Closing issue.

[2015-08-24 00:22] #8 closed

[2016-01-04 09:10] wolfv opened #12 "If and floating point"
[code]
--> b

but

[code]
--> a

Seems like an error in the comparison.

[2016-01-06 04:06] freakboy3742 commented on #12
Confirmed - thanks for the report!

It looks like it's hitting the right comparison operator; it's the arguments that aren't being handled correctly. More investigation is required.

[2016-01-22 11:03] wolfv opened #13 "Use pypy or brython implementation for builtins and standard lib"
Hi,

I was wondering if it makes sense to use an implementation for the python builtins that's actually implemented in python.

For example, pypy has the following https://bitbucket.org/pypy/pypy/src/35c27789e35368ac3ebefedd83af0829d2cf89d4/pypy/module/__builtin__/

Brython similarly has pure python implementations for large parts of the standards library (not sure about builtins, though).

Maybe

[2016-01-22 11:30] freakboy3742 commented on #13
Yes - I think it would. Reusing an existing builtins + standard library would be desirable; collaborating on a common "pure python" repo would be even better. In addition to Batavia, [VOC](https://github.com/pybee/voc) has a similar need for a pure Python stdlib implementation.

Having an clear specification for the interface that a native implementation must provide, and a way to override specifi

[2016-01-22 14:22] freakboy3742 commented on #13
Some possible names for the project:

* Troupe (as in, a collection of (Monty) Pythons)
* Pythonidae (the taxonomic name for Pythons)
* Clutch (as in, a collection of Python eggs)
* Nest (as in, a nest of vipers)

[2016-01-22 16:49] wolfv commented on #13
My working draft name was pyinpy but it's probably too close to pypy, hehe.

I think pythonidae is quite cool, but I am happy with any of them.

Cheers,

Wolf
On Fri, 22 Jan 2016 at 15:22, Russell Keith-Magee <notifications@github.com>
wrote:

[2016-01-23 02:32] funkybob commented on #13
Surely "Ouroboros"? :)

[2016-01-23 09:49] freakboy3742 commented on #13
@funkybob Oh... oh my.... We have a winner. Ouroboros it is.

[Registered with PyPI](https://pypi.python.org/pypi/ouroboros) and [repository created](https://github.com/pybee/ouroboros).

[2016-04-02 11:00] glasnt opened #23 "Float issues"
Probably the same as #12. Detailed debugging report, from djangocon eu sprints:

Python 3.4.3+, Ubuntu 15.10

Running the testserver with "abs(3)" returns 3

Running the testserver with "abs(3333)" returns 3333

Running the testserver with "abs(3.333)" returns 0

Diving into VirtualMachine.js, `batavia.VirtualMachine.prototype.run_code` has a `code.co_const` that is showing badvalues instead of us

[2016-04-02 12:17] #23 closed

[2016-04-02 12:57] splab opened #26 "Bytecode changes for dict in python 3.5 causes batavia.core.Dict to fail"
With python 3.5 the bytecode for storing data to the dict has changed to:

[code]

causing dicts to be empty.

To reproduce use (in the testbed):

[code]

Expected result: bar 1
Actual result: bar

[2016-04-03 01:00] freakboy3742 opened #32 "Register Batavia with Bower"
Batavia is a Javascript tool; we need to add a bower configuration file so that it can be easily added to the asset configuration for a new project.

[2016-04-04 14:11] wolfv commented on #12
Seems to be fixed!

[2016-04-04 14:11] #12 closed

[2016-04-13 09:21] freakboy3742 opened #46 "Complete implementation of operations on standard types"
Javascript has a specific set of allowed operator and operations. Python has a set of operators and operations as well. However, the two don't match exactly. For example, Javascript behavior for adding/multiplying with Strings leads to behaviour that is quite distinct to the behavior provided by Python.

In order to replicate Python behavior in Javascript, Python's logic for all the basic operatio

[2016-04-13 09:27] freakboy3742 opened #47 "Complete implementations of Python builtins"
`batavia/core/builtins.js` is an implementation of all the Python builtins - methods like `print()`, `input()`, `list()`, `abs()`, `min()` and so on.

An implementation of these builtins is required.

[2016-05-05 15:20] FeralBytes opened #53 "str() takes at most 1 argument (2 given)"
Essentially I just tried to do the tutorial and putting
`print('Hello World')`
into the text area and clicking run immediately resulted in a trace-back. Is this due to django running as python 2. Because the Shebang says python not python3.

By the way this is an awesome concept and so small and light weight! I am going to start testing if I can do AJAX using it; has this already been tested; are

[2016-05-05 15:35] FeralBytes commented on #53
[I made a pull request here](https://github.com/FeralBytes/batavia/pull/1)
Please review it and let me know which method you would like to use to detect python3 and I will make a proper pull request against your project.

[2016-05-06 02:10] FeralBytes commented on #53
OK new pull request created using the preferred method; sorry for the multiple commits; I can pull it back and make a single commit if you would prefer? I did not test it until after the first commit.

[2016-05-06 13:04] betojulio commented on #46
I will work on test_multiply_float for String

[2016-05-07 00:31] freakboy3742 commented on #53
Github lets me collapse multiple-commit pull requests into a single commit with a single button press, so don't worry about collapsing. There are a couple of comments against the patch; if you can address those, we can merge!

[2016-05-07 01:26] FeralBytes commented on #53
Done.

[2016-05-08 06:29] winza83 commented on #46
I'm still working on test_add_bool.

[2016-05-09 18:36] betojulio commented on #46
working on test_add_list

[2016-05-09 19:00] betojulio opened #57 "test_add_none does not exist."
test_add_none is in the not_implemented list in file test_str.py.

if I run "python setup.py test -s tests.datatypes.test_str.BinaryStrOperationTests.test_add_none" to work on this test case I get 'type object 'BinaryStrOperationTests' has no attribute 'test_add_none''

[2016-05-10 03:08] freakboy3742 commented on #57
Thanks for the report! Looks like an oversight when I copied the test code over from VOC. I'll commit a fix shortly.

[2016-05-10 03:37] #57 closed

[2016-05-10 12:36] betojulio commented on #46
working on test_add_none for string

[2016-05-11 01:53] betojulio commented on #46
working on test_and_none for string

[2016-05-11 02:33] betojulio commented on #46
working on test_multiply_none for string

[2016-05-11 18:22] betojulio commented on #46
working on test_unary_positive for string

[2016-05-11 19:39] betojulio opened #62 "InplaceStrOperationTests - TypeError message for string."
I am trying to implement some test cases but I have been facing with some assertion problems.
This a diff from a test case that I tried to implement 'test_subtract_int' for string. I raise an exception
message **' unsupported operand type(s) for -: 'str' and 'int' '** and the test for BinaryStrOperationTests passes with no issues but the test for InplaceStrOperationTests expects for a different ex

[2016-05-12 01:49] freakboy3742 commented on #62
You're not missing anything - this is an area where some refactoring is probably required.

The current setup for operators is essentially to have a single enormous switch statement, checking every combination of every possible datatype. In order to maintain parity with Python, what we *should* be doing is implementing `__add__`, `__mult__`, etc methods on each data type, and encapsulating the log

[2016-05-12 01:54] betojulio commented on #62
It does make sense, but I will need some help to implement the methods. I
am wondering if you could help me to do the first one and then I can start
working by my self after that.

Thanks

On Wed, May 11, 2016 at 8:49 PM, Russell Keith-Magee <
notifications@github.com> wrote:

[2016-05-12 21:04] betojulio commented on #62
I've been doing my research but I have not found a way to overload JS operators. this is what we are trying to do ,right?

I implemented a `__sub__` method but I havent been avilable to connect the dots ,yet.

this is something that I have tried.
[code]

[2016-05-13 02:53] freakboy3742 commented on #62
That's exactly the sort of thing that I was thinking of. The pieces that are missing:

* The implementation of `__isub__` can defer to `__sub__`

* The implementation of `SUBTRACT` will need to fall back onto native subtraction if a `__sub__` method doesn't exist.

* You may need to modify `VirtualMachine.build_dispatch_table` to do the redirection towards `__isub__` or `__sub__` as appropriate, r

[2016-05-13 18:48] betojulio commented on #62
I will need more help on this task. I believe this is the code that should be changed
batavia/VirtualMachine.js , line 37
[code]
for binary operations I should edit the  `(opcode in batavia.modules.dis.binary_ops) ` if statement and for inplace oprations should be ` (opcode in batavia.modules.dis.inplace_ops)`. how exactly I do redirect to `__sub__`  and  `__isub__` respectively?

Thank you.

[2016-05-14 03:49] freakboy3742 commented on #62
You've found the right spot; you'll be looking to modify the inner function definitions so that rather than invoking a function defined in batavia.operators, they invoke the appropriate "dunder" method (e.g., `__sub__`) for the operator.

If you're not sure how to proceed, don't worry - I'll take a look at this at some point in the next couple of days and get the framework set up for you.

[2016-05-14 12:06] betojulio commented on #62
great!! I will wait for the framework.

On Fri, May 13, 2016 at 10:49 PM, Russell Keith-Magee <
notifications@github.com> wrote:

[2016-05-16 13:15] vyyyy commented on #46
working on test_subtract_str for String

[2016-05-18 20:27] FlaviaBastos commented on #46
Working on test_floor_divide_str for string

[2016-05-20 16:33] FlaviaBastos commented on #46
Ops. I guess test_floor_divide_str got resolved by @wlmiller on issue #67
I will pick something else to work on.

[2016-05-20 19:36] wlmiller commented on #46
I'm sorry about that - I should have more carefully checked what was already being worked on.

For what it's worth, tackling these operations one at a time for each pair probably isn't the best way to go about it.  For example, if you resolve `test_floor_divide_str` for string, you're very likely to also resolve `floor_divide` tests for many other combinations of types (in particular combinations

[2016-05-20 19:58] FlaviaBastos commented on #46
No worries!
I saw your implementation and there's no way I could have accomplished that. :sweat_smile: Good job!

[2016-05-23 02:20] DawnPaladin opened #70 "`python setup.py test` results in 725 failures [Windows]"
Your [contributor guide says](http://batavia.readthedocs.io/en/latest/internals/contributing.html) "If you see any lines that end FAIL, ERROR, or unexpected success, [...] please get in touch, because you may have found a problem." So that's what I'm doing. Running `python setup.py test` results in "failures = 725, expected failures = 3403".

That page only lists instructions for doing this on OSX

[2016-05-23 02:49] freakboy3742 commented on #70
*Something* is clearly going wrong; it's almost certainly *not* your fault :-)

Your guess about it being a Windows-specific problem is a pretty good one. I haven't done any testing on Windows as I don't have a Windows machine handy for test purposes.

Can you provide a copy of the test output - or even just a sample of the output showing a couple of test failures? If you're getting that many fail

[2016-05-23 03:18] DawnPaladin commented on #70
As I scroll through the console output, all of the failed tests look similar to the following:

[code]

It looks like something is missing from my path. It's not `python` or `phantomjs`; both of those run from the command prompt just fine. (I'm using [Cmder](http://cmder.net/), which usually does a good job of imitating a *nix prompt.)

I'm not sure I have virtualenv set up correctly. `. env/bin/a

[2016-05-23 04:09] freakboy3742 commented on #70
Ok - the problem is a relatively easy one: the first thing the test suite does is use the Unix "make" utility to build a single batavia.js and batavia.min.js. So - we either need to find a windows-compatible version of make, or we need to find a Windows alternative for that build process. I'm open to suggestions here.

The error about `. env/bin/activate` will definitely be off; as I recall, the s

[2016-05-23 05:10] DawnPaladin commented on #70
Hmm. I found a [GNU make for Windows](http://www.equation.com/servlet/equation.cmd?fa=make). When I put it in a PATH-accessible directory, the error I get changed to this:

[code]

I don't know whether that helps or not. :smile:

I figured documentation drift was likely to be the culprit. Thank you for being so helpful!

[2016-05-23 05:22] DawnPaladin commented on #70
I also tried the Make utility included with [MinGW](http://www.mingw.org/), with the same results. So now I'm a little more confident that I didn't get a broken version of make.

[2016-05-23 09:28] freakboy3742 commented on #70
Ok - we're definitely getting closer.

This new error suggests that make is now being run successfully; however, the PhantomJS environment isn't being successfully created. Here are the next debugging steps:

1. First, confirm that from the command line, if you're in the root directory of the github checkout, you can run `phantomjs` and a PhantomJS session starts.
2. If it does; confirm that you c

[2016-05-24 03:02] DawnPaladin commented on #70
`phantomjs` runs successfully from the repository folder; so does `var page = require('webpage').create()`. Here's what I get when I run `python setup.py test -s tests.datatypes.test_str.BinaryStrOperationTests.test_add_str`:

[code]

I'm investigating `utils.py`, uncommenting various lines and getting a feel for it. Hang tight.

[2016-05-24 03:19] DawnPaladin commented on #70
Trying to get `python setup.py test -s tests.datatypes.test_str.BinaryStrOperationTests.test_add_str` to pass.

In `tests\datatypes\test_str.py` is `class BinaryStrOperationTests`. In the `not_implemented` array are various tests such as `test_add_set` and `test_add_tuple`; `test_add_str` is not among them. When I add it to the array, the above command passes! So the problem was that `test_add_str

[2016-05-24 04:15] DawnPaladin commented on #70
Now I'm looking at `test\structures\test_assignment.py`, specifically `test_simple_assignment`, which is fully implemented, not a dummy test. Here's the code:

[code]

And here's what I get when I run it:

[code]

Even though the tests don't pass, I am able to run the Batavia server [as described in Tutorial 0](http://batavia.readthedocs.io/en/latest/tutorials/tutorial-0.html). When I run
[code]
t

[2016-05-24 05:43] freakboy3742 commented on #70
`test_add_str` is intentionally not on the list - the list isn't a list of tests to run, it's a "not implemented" list of tests that are known to fail. The add operator for String has been implemented, hence the test should pass.

In your case, you're getting the same error as before. I suspect the cause will be what I flagged in point (3) above - Windows style line endings preventing the test sys

[2016-05-24 07:33] freakboy3742 commented on #62
@betojulio Apologies for the delay - I've just committed the changes to make operators handled by dunder methods. You'll notice the utils.py operators dictionary is gone; but there's a new types directory, and each type has a `__add__` and `__iadd__` method, implementing binary and inplace operations respectively. `__iadd__` for integer + integer has been implemented already as a reference.

[2016-05-25 01:51] DawnPaladin commented on #70
Thanks for the heads-up. Nuked my repo and forked a fresh copy.

I got a new error message! Making progress. I uncommented all the lines between 133 and 154 and ran `python setup.py test -s tests.datatypes.test_str.BinaryStrOperationTests.test_add_str` to get this:

[code]

It looks like we made it through `var page = require('webpage').create()` and got stuck on `page.injectJs('temp\modules.js')`

[2016-05-25 03:26] freakboy3742 commented on #70
The slash might be the problem - if you check the code (line 303 of tests/utils.py), you'll see that it uses `os.path.join`, which is why you see a backslash, but I see a forward slash. One possibility is that it actually *requires* a forward slash, even though you're running on windows - if you replace the `os.path.join()` call with `"/".join()`, does that fix the problem?

As for the files being

[2016-05-25 03:38] DawnPaladin commented on #70
Success! I changed line 303 from
[code]
to
[code]
and the test passes!

What's the next step? Should I submit a pull request?

[2016-05-25 03:55] DawnPaladin commented on #70
**Success!** I changed line 303 from
[code]
to
[code]
and the test passes!

Now I'm running `python setup.py test` and getting *much* fewer failures than before--only 19, instead of the 725 I was getting earlier.

The ones that are still failing look like this:
[code]

[2016-05-25 04:04] freakboy3742 commented on #70
Awesome - I'm gonna bet that all 19 failures are native javascript tests, and it will be a similar problem, but with the path of a native script that is being injected. If you apply the same fix to the path construction on line 313, that should do the job.

[2016-05-25 04:21] DawnPaladin commented on #70
Yep, line 313 was the culprit. Changing it to `"page.injectJs('%s.js')" % "/".join(('temp', mod)),` fixed 14 more tests.

Here are the 5 failing tests which remain:
[code]

[2016-05-25 04:22] funkybob commented on #70
Wouldn't it be better to use posixpath.join to ensure it's done cleanly?
  For the same reasons you used os.path.join in the first place?

On 25/05/16 14:04, Russell Keith-Magee wrote:

[2016-05-25 04:28] freakboy3742 commented on #70
@DawnPaladin Ok - the first three are part of the output normalisation; for some reason, it appears that Windows outputs memory addresses in upper case. If you modify the regex on line 313 to be up to 16 characters, including uppercase A-F, those two should pass.

The last two are a bit harder to explain - unless you're using Python 3.5. Python 3.5 made a very small but subtle change to the format

[2016-05-25 04:29] freakboy3742 commented on #70
@funkybob Couldn't hurt - although, I'm not sure what `posixpath.join` would catch other than the separator join. I thought `posixpath.join` just existed as a proxy for `os.path.join` on posix platforms.

[2016-05-25 05:19] DawnPaladin commented on #70
I downloaded Python 3.4.4 and now I'm down to 3 failures. Can you double-check where the regex is? I don't see one on line 313.

[2016-05-25 05:25] freakboy3742 commented on #70
Sorry - mistake - line 350. The line in question is:
[code]

[2016-05-25 13:14] betojulio commented on #62
Great!. I will start working on it.

On Tue, May 24, 2016 at 2:33 AM, Russell Keith-Magee <
notifications@github.com> wrote:

[2016-05-25 13:54] funkybob commented on #70
Perhaps I didn't read the thread closely enough... I figured if you were using os.path.join, and it was b0rking on Windows because of platform-dependent backend selection, why not just select the proper backend...

[2016-05-26 03:28] freakboy3742 opened #71 "CPython 3.6+ is switching to a 16-bit wordcode format"
Via @ncoghlan, reporting pybee/voc#132:

This is an early heads up that CPython will be switching to a 16-bit wordcode format as of 3.6a2: http://bugs.python.org/issue26647

The change itself is in https://hg.python.org/cpython/rev/3a57eafd8401

In theory this should be a transparent change for any project that interacts with compiled code solely through the `dis` module, but since VoC transpiles

[2016-05-26 03:28] freakboy3742 commented on #71
See also #26, for the changes affecting CPython 3.5.

[2016-05-26 04:33] DawnPaladin commented on #70
Got it! Changing line 350 to `MEMORY_REFERENCE = re.compile('0x[\dABCDEF]{4,16}')` caused a few other tests to fail because they were expecting lowercase; `MEMORY_REFERENCE = re.compile('0x[\dABCDEFabcdef]{4,16}')` does the job.
[code]
What's next? Should I submit a pull request?

[2016-05-26 05:09] freakboy3742 commented on #70
Hooray! 🎉

Yes, a pull request would be fantastic. In addition to the software changes needed to get the code running, If you can add a section to the documentation about what you had to do/install to get this running under Windows, that would be amazing.

[2016-05-27 05:03] DawnPaladin commented on #70
[PR submitted!](https://github.com/pybee/batavia/pull/72)

[2016-05-27 20:17] freakboy3742 commented on #70
Fixed by #72, committed in 036e10c

[2016-05-27 20:17] #70 closed

[2016-06-02 16:18] schuyler1d commented on #47
i'm going to implement filter()

[2016-06-02 17:30] tfors commented on #46
working on test_setattr for string

[2016-06-02 17:45] mauritt commented on #46
I'm working on test_add_bool in in place string operations.

[2016-06-02 17:55] rightlag commented on #47
I'm going to work on `reversed()` 💥

[2016-06-02 18:06] miki725 commented on #26
so the fix is available on 3.5 branch. will try to get it running for both 3.4 and 3.5

[2016-06-02 18:16] lisroach commented on #47
I will implement `list()`

[2016-06-02 18:40] soerendip opened #80 "8 errors when running tests on Fedora23"
I am on Fedora 23:
Linux r2d2 4.4.6-301.fc23.x86_64 #1 SMP Wed Mar 30 16:43:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Used anaconda to install a python 3.5 environment.
I downloaded phantomjs for linux 64bit version 2.1.1

Followed the instructions at [here](http://batavia.readthedocs.io/en/latest/internals/contributing.html) and successfully ran the test server. When I run the tests `python set

[2016-06-02 18:43] lisroach opened #81 "Running Batavia in Vagrant Box - Broken Pipe"
Hello!

When running the test suite for batavia, `python setup.py test`, I get 836 failures in addition to the 3262 expected failures. It appears that all of the failures are "Broken Pipe" errors.

My environment:

Windows 7 laptop, running a Vagrant box
Vagrant version: 1.8.1
Virtualbox Version: 5.0.2
Linux Version: Ubuntu Trusty 14.04
Python Version: 3.4.3 (in a virtualenv)

Error example:

[cod

[2016-06-02 19:02] schuyler1d commented on #47
also doing map()

[2016-06-02 19:02] glasnt commented on #80
Thank you for this! I'll take a look

[2016-06-02 19:03] glasnt commented on #81
Thank you for logging this bug!

I understand you're having on-site help with this. If you work out anything more, please update this issue

[2016-06-02 19:09] mauritt commented on #46
I'm working on test_add_tuple in in-place string operations.

[2016-06-02 19:21] mauritt commented on #46
Working on test_add_dict in in-place string operations.

[2016-06-02 19:36] mauritt commented on #46
Working on test_add_float in in-place string operations.

[2016-06-02 19:41] netoxico commented on #46
working on `test_true_divide_bool`

[2016-06-02 19:42] glasnt commented on #80
OK! It looks like this is an interesting one.

What I'm seeing here is differences in the strings that are outputted between what we expect from Python 3.4 and what you have

It's literally failing on a slightly differently worded comment:

[code]

Specifically, "or slices" is added.

Can you run `python --version` so I can get the exact thing?

[2016-06-02 19:50] soerendip commented on #80
Python 3.5.1 :: Continuum Analytics, Inc.

Will try the correct environment with python 3.4 ...

[2016-06-02 19:52] glasnt commented on #80
@soerendip If you can use 3.4.2 and report back if things are still breaking, that'd be awesome

[2016-06-02 19:53] soerendip commented on #80
I am trying 3.4.4 right now. I can do 3.4.2 too.

[2016-06-02 19:57] glasnt commented on #80
Please let me know if either have issues.

There are Big Design Decisions as to the specific version happening so this will be very useful information

[2016-06-02 20:50] soerendip commented on #80
3.4.4. runs all tests OK.

[2016-06-02 21:00] mauritt commented on #46
working on in-place additions to strings

[2016-06-02 21:38] glasnt opened #91 "Travis CI issues with 3.4.2"
The master branch is currently broken since https://github.com/pybee/batavia/commit/6ea3cfffb65d8a851556a2673c725f804f8dad59

The travis log looks something like this:

[code]

However, this "just works" on VOC

The reason is that they are using two separate images. Batavia's travis file specifies
[code]

But VOC specifies

[code]

The difference in the `dist` values means that Batavia is running

[2016-06-02 21:39] glasnt commented on #91
Oh, and ping: @phildini and @freakboy3742

[2016-06-02 22:06] thewus commented on #47
I'm going to work on len()

[2016-06-02 22:56] mbrownGraham commented on #46
working on test_add_int

[2016-06-02 23:44] miki725 opened #100 "Remove non-Py3 builtins"
For example:

[code]

whereas:

[code]

Maybe this is intentional? If not should they be removed to match Python behavior?

so far found these:

* `reduce`
* `unichr`

[2016-06-02 23:49] miki725 opened #101 "Callables do not enforce required parameters"
For example:

[code]

results in (traceback from Chrome):

[code]

whereas correct Py behavior is:

[code]

[2016-06-02 23:53] sethMittag commented on #46
working on test_pow_str

[2016-06-02 23:53] miki725 commented on #81
@lisroach do you have `phantomjs` installed? Ive seen similar issues related to that

[2016-06-03 00:33] bellisk commented on #46
working on test_multiply_bool

[2016-06-03 00:40] glasnt commented on #91
Design meeting outcome: We've changed things to target 3.4.4 for now.

Travis can be explicitly told how to install 3.4.2 from source to make things run better.

Further, for better cross-version fixing, I'm currently changing the test suite to be more generous with the comparison of the test outputs -- checking only the error type, not the description.

[2016-06-03 01:10] tfors commented on #46
working on Str inplace xor

[2016-06-03 15:05] mauritt commented on #46
Working on str in-place addition to str (test_add_str in InplaceStrOperationTests)

[2016-06-03 15:44] mauritt commented on #46
Working on 'test_add_set' in InplaceStrOperationTests

[2016-06-03 15:52] tfors commented on #46
Working on Int inplace multiply

[2016-06-03 16:07] ashley-dunn commented on #46
Working on `test_modulo_none` (and any other string/modulo tests that throw the same `TypeError: not all arguments converted during string formatting` error)

[2016-06-03 16:15] ashley-dunn commented on #46
Working on `InplaceStrOperationTests` `test_modulo_none` (and any other string modulo operations that throw the `TypeError: not all arguments converted during string formatting` error)

[2016-06-03 16:16] mauritt commented on #46
Working on batavia.type_name in Type.js. I'm extending it so that bytes, sets, etc return the correct name and not "Native Type"

[2016-06-03 18:07] sethMittag commented on #100
I am working on removing the non python 3 builtins

[2016-06-03 19:38] ashley-dunn commented on #46
Working on implementing `batavia.builtins.set` in order to get `InplaceStrOperationTests` `test_modulo_set` to work

[2016-06-03 21:46] sethMittag commented on #100
Fixed

[2016-06-04 00:27] lrhewus opened #123 "len function error always returns "0 given""
If 2 or more arguments are passed to the len function it errors and always states "0 given"

[2016-06-04 03:50] lrhewus commented on #123
https://github.com/pybee/batavia/pull/124 merged into master. Closing issue.

[2016-06-04 03:50] #123 closed

[2016-06-04 16:06] Brigette-Eckert commented on #47
Going to work on this issue,  is there any particular method that is needed ASAP? otherwise I'll pick one and post.

[2016-06-04 19:13] sethMittag commented on #47
working on set()

[2016-06-04 19:22] Brigette-Eckert commented on #46
working on String.prototype.__le__

[2016-06-04 19:44] phildini commented on #46
According to slack, `int.__lt__` is now being worked on.

[2016-06-04 21:43] LawlietBlack commented on #47
working on oct()

[2016-06-04 22:13] Brigette-Eckert commented on #46
working on str_gt_

[2016-06-04 23:01] Brigette-Eckert commented on #46
working on st_ge_

[2016-06-05 00:32] Brigette-Eckert commented on #47
working on next()

[2016-06-05 16:05] phildini opened #144 "Running tests regularly takes > 10 minutes"
I think we might be at the point where profiling is needed to see where the testing bottleneck is. Normally I would be ok leaving performance optimizations until the project was more complete, but test builds regularly time out on Travis. This slows down the contributor workflow, and generally makes the project move slower.

I have never done serious python profiling, open to suggestions and/or so

[2016-06-05 18:37] phildini commented on #144
So, looking at tests running on my Mac, phantomjs is using 74% of CPU and 11GB of Memory. 😱

I'm going to dig into how we can reduce that footprint, ideas welcome.

[2016-06-05 18:38] LawlietBlack commented on #47
working on all()

[2016-06-05 18:58] #100 closed

[2016-06-05 18:59] #53 closed

[2016-06-05 19:01] Brigette-Eckert commented on #47
working on isinstance()

[2016-06-05 21:14] phildini commented on #144
So, I am fairly confident in the path I'm on, which tells me that excessive CPU and memory usage from `phantomjs` is a big part of the slowness and crashing on Travis. I followed a thread which told me to put `page.close()` after the JS had stopped running, but that didn't seem to have an impact on the memory usage. The digging continues.

[2016-06-05 22:59] phildini commented on #144
tl;dr: Where in the `TranspileTestCase` should we put the phantom operations so we get one phantom per test class, and which is removed (by force if necessary) after each test class runs?

@freakboy3742 I think I'm at the point where some assistance is needed.

My current working theory is that test builds on Travis break because phantomjs takes all the cpu and memory and then hangs. I was able to

[2016-06-06 03:23] glasnt commented on #80
Closing as per last comment. In the interests of issue cleanliness, @soerendip, if you encounter different Fedora issues, please open a new issue.

[2016-06-06 03:23] #80 closed

[2016-06-06 03:24] glasnt commented on #91
The testsuite has been updated in #116 to limit the checks to just match on type not description

Bits for me to work on:
 - [ ] add this somewhere prominent in the docs
 - [ ] try and get 3.4.2 working again
 - [ ] ensure the travis version matrix is reflected in the README

[2016-06-06 09:43] glasnt opened #155 "Create functional tests"
Issues like https://github.com/pybee/batavia/pull/154 means we should really be creating functional tests to ensure that python scripts that run through batavia are the right output.

I think we have the mechanism for this already, but having more would be helpful, as we completely flesh out more functionality.

[2016-06-10 16:04] phildini commented on #144
@freakboy3742 I have something that works locally, and never uses more than 100MB of memory:

https://github.com/phildini/batavia/commit/2db835cd6619b159da42d0e87754e100fa0fb2df

Unfortunately, while it passes locally, it gets an error on travis: https://travis-ci.org/phildini/batavia/jobs/136620026

Specifically, unable to inject batavia.

Still investigating, wanted to update what I had found.

[2016-06-11 01:54] freakboy3742 commented on #144
If it helps, the "unable to inject" error usually means one of three things:

1. A path problem, so the test runner can't find the batavia script
2. A dependency problem, usually `jsmin` missing from the test environment.
3. A PhantomJS version problem, where the response from PhantomJS isn't matching the expected response.

Not sure which one you would be hitting here, though.

I have another ide

[2016-06-14 22:25] betojulio commented on #46
working on InplaceStrOperationTests.test_true_divide_str for string

[2016-06-15 04:01] betojulio commented on #46
working on Implemented InplaceStrOperationTests.test_floor_divide_bool, InplaceStrOperationTests .test_floor_divide_dict, InplaceStrOperationTests .test_floor_divide_float, InplaceStrOperationTests .test_floor_divide_int, InplaceStrOperationTests .test_floor_divide_list, InplaceStrOperationTests .test_floor_divide_None, InplaceStrOperationTests .test_floor_divide_str, InplaceStrOperationTests .tes

[2016-06-15 13:52] betojulio commented on #46
working on InplaceStrOperationTests.test_rshift_bool, InplaceStrOperationTests .test_rshift_dict, InplaceStrOperationTests .test_rshift_float, InplaceStrOperationTests .test_rshift_int, InplaceStrOperationTests .test_rshift_list, InplaceStrOperationTests .test_rshift_None, InplaceStrOperationTests .test_rshift_str, InplaceStrOperationTests .test_rshift_tuple for string

[2016-06-16 15:31] betojulio commented on #46
working on InplaceStrOperationTests .test_power_bool,
InplaceStrOperationTests .test_power_dict, InplaceStrOperationTests
.test_power_float, InplaceStrOperationTests .test_power_int,
InplaceStrOperationTests .test_power_list, InplaceStrOperationTests
.test_power_None, InplaceStrOperationTests .test_power_str,
InplaceStrOperationTests .test_power_tuple

[2016-06-25 18:50] prathmesh4 commented on #47
I m work beginning

[2016-06-27 21:46] glasnt commented on #144
This was resolved in #159

[2016-06-27 21:46] #144 closed

[2016-07-05 07:34] aeroaks commented on #47
Working on input().

[2016-07-06 02:51] asherScott commented on #47
Which builtins have yet to be implemented?

[2016-07-06 06:03] freakboy3742 commented on #47
@asherScott At the very least, the methods in [this file](https://github.com/pybee/batavia/blob/master/batavia/core/builtins.js this file) whose implementation is nothing more than `throw NotImplmentedError`. There are a couple of methods that *internally* throw `NotImplementedError` as well, for certain subsets of behavior (e.g., `iter` with 2 arguments).

[2016-07-09 15:13] asherScott commented on #46
Planning on working on as many of the Binary List Operations as I can, most of which seem like they are one line error messages that throw TypeErrors, such as the < &, |, and ^ > operators on lists. (Unless I am mistaken).  Along with those, I have intentions of implementing __iadd__, and __imul__  When we implement these functions do we need to also write tests in the corresponding test file?

[2016-07-09 15:26] freakboy3742 commented on #46
@asherScott Fantastic! And you're not mistaken - most of the binary operators on Lists will be TypeErrors.

There's no need to write tests - all the combinations of all the data types already have tests automatically generated. The existing test suite auto generates tests for x <op> y for, where x and y are every possible pair of data types, and <op> is every possible binary and inline operator. T

[2016-07-09 15:47] asherScott commented on #46
@freakboy3742 Thanks for the info!  I have one more question, (for now :P), how do you run the test suites?  I've tried "python test_list.py" while my virtualenv is active, but I get a relative import error.  I was wondering if I needed to pip install something additional or if I am attempting to run the test suite in the completely wrong way.  If it makes a difference I am doing all of this devel

[2016-07-10 14:38] asherScott commented on #46
So looking at the tests so far, it shows that bytes, bytearray, complex, and frozenset have expected failures.  Is that because the basic functionality of these datatypes has not been fully implemented yet?

[2016-07-11 01:41] freakboy3742 commented on #46
@asherScott Correct. Those data types are really little more than stubs at the moment. If you look at Complex, for example, it's a valid Javascript object, but that's about it. So, this is another area where you can contribute - flesh out one of these stub implementations.

[2016-07-15 01:58] asherScott commented on #46
@freakboy3742
I'm looking at the Set type currently so I can get a feel how it works before starting the implementation of Frozenset.  Is Set only partially implemented yet?  I tried creating a set in the Batavia testbed and then printing the value of it:
`
s = set([1,2,3])
print(a)
`
and the output I am getting is:
`
{1}
`
When I do it in an actual python shell, I am getting:
`
{1,2,3}
`
Does Bat

[2016-07-15 03:16] freakboy3742 commented on #46
Interesting - I can confirm that I'm seeing the same problem. There are some tests for set creation behavior, but evidently they're not sophisticated enough.

So - it would appear that Batavia's set implementation needs some work :-)

Modifying the implementation of Batavia's Set so that it extends JavaScript's Set sounds like a fine idea to me. However, we can't just drop in Javascript's set, bec

[2016-07-21 15:16] kccarr commented on #46
I will work on test_getitem and report back on any progress.

[2016-07-21 15:17] jcronyn commented on #46
I will be working on 'test_add_set'

[2016-07-21 15:21] timb07 commented on #46
Working on test_int, test_eq_str (and wherever else that leads me).

[2016-07-21 15:27] joslarson commented on #46
I'm going to work on implementing step support in `List.prototype.__getitem__`

[2016-07-21 15:33] kgoodwill commented on #46
Working on Float.prototype.__imod__

[2016-07-21 15:37] kennethlove commented on #46
Gonna work on tuples as best I can

[2016-07-21 16:16] jcronyn commented on #46
Now looking @ test_add_str

[2016-07-21 17:45] kgoodwill opened #175 "Makefile does not work with Windows"
The current Makefile does not support windows. The job 'batavia.js' fails on windows because windows does not support to the 'cat' command.

EDIT: The 'clean' job will also fail and should be fixed in a similar manner.

[2016-07-21 17:46] kgoodwill commented on #175
I will work on this issue. I just don't know how to assign it to myself.

[2016-07-21 18:13] greeve commented on #47
I am working on implementing ascii in batavia/core/builtins.js.

[2016-07-21 18:19] sierrabrown commented on #46
Working on tests under test_lt and test_gt in test_str

[2016-07-21 18:39] sierrabrown commented on #46
Working on test test_eq_str in test_bool.

[2016-07-21 19:57] slick666 opened #181 "Bytecode changes for dict in python 3.6 causes batavia.core.Dict to fail"
This is a continuation of #26 that was fixed in 3.4 and 3.5.. Python 3.6 fails for this same input but for different reasons.

With python 3.5 the bytecode for storing data to the dict has changed to:

  2           0 LOAD_CONST               1 ('a')
              3 LOAD_CONST               2 (1)
              6 LOAD_CONST               3 ('b')
              9 LOAD_CONST               4 (2)

[2016-07-21 19:58] slick666 commented on #26
This issue for 3.5 has been addresses. issue in Python 3.6 are continues in #181

[2016-07-21 20:22] havocbane commented on #46
Working on Set iadd in test_set.py

[2016-07-22 14:18] timb07 commented on #46
Working on test_float (the whole lot)

[2016-07-22 15:28] kccarr commented on #46
Working on test_or_bytearray and some of the rest of the " -or- " lines.

[2016-07-22 15:42] dori-amara commented on #46
Working on NotImplementedType, test_ge_

[2016-07-22 18:04] timb07 commented on #46
Working on implementing the Complex type

[2016-07-22 18:14] dori-amara commented on #46
Working on NotImplementedType, test_gt_

[2016-07-22 18:33] asauber commented on #46
Working on NoneType, unary operation tests fixed in #197

[2016-07-22 19:38] asauber commented on #46
A bunch of NoneType binary operation tests fixed in #199

[2016-07-26 01:20] jcronyn commented on #46
Fixing Int floor_div and true_div for Binary, Int, and Float

[2016-07-31 00:59] Nanaanim27 commented on #46
Attempting test_getitem... We'll see how that goes.

[2016-08-01 02:33] ewdurbin commented on #46
dibs on

[code]

[2016-08-06 13:36] ewjoachim commented on #32
Looks like we could close this, can't we ?

[2016-08-08 06:49] freakboy3742 commented on #32
I think so! :-)

[2016-08-08 06:49] #32 closed

[2016-08-15 01:28] candeira commented on #101
I'd like to give this one a try. I guess this could be done this way:
- functions should be compiled as JS closures containing a list of *argnamesj
- on call, assert js!arguments.length == len(argnames)
- if it fails, use the actual *argnames tuple to index/slice the missing required arguments, or else complain "<functionname> takes exactly n arguments (m>n given)"

[2016-08-15 01:37] JasonThomasData opened #218 "Create better styles for Batavia demo page"
We can add some styles in the same style as the Batavia docs page, here: http://pybee.org/contributing/what/

We can add some font styles and other pretty changes to give a better first impression.

[2016-08-15 01:40] JasonThomasData opened #219 "Syntax highlighting on Batavia's initial demo page"
There are JavaScript plugins that give text boxes syntax highlighting.
Great for code readability, highlighting keywords, functions and different types.

[2016-08-15 01:49] JasonThomasData commented on #219
Here's some examples for what I'm talking about, but not necessarily in the style we want.

http://alexgorbatchev.com/SyntaxHighlighter/manual/themes/django.html
https://highlightjs.org/

[2016-08-15 01:55] glasnt commented on #219
I think this a good idea, but the only problem here is that I'm not sure there's a decent solution to have live syntax highlighting on an editable textarea.

If there is, by all means.

[2016-08-15 01:57] JasonThomasData commented on #219
Here is a better example @glasnt
http://codemirror.net/

[2016-08-15 01:57] glasnt commented on #218
The basic solution here would be to reformat the page with something as simple as getskeleton, use the pybee.org font (Cutive) and just make it look a little bit nicer to look at in general.

As noted during the sprints, none of the JS can change as there's a lot of moving parts to get the page to work. The functionality can be tested by making sure the actual functionality of the page (write pyth

[2016-08-15 02:12] JasonThomasData commented on #218
Cool, good I agree... wasn't suggesting we change any JS actually, it's a simple CSS thing

[2016-08-15 05:34] candeira commented on #47
I'm dibbing byte, bytearray, and adding to Byte and Bytearray, which depend on each other enough that it doesn't make sense to work on one and not the others.

I've opened a (so far) empty PR to track progress of my work: https://github.com/pybee/batavia/pull/221

[2016-08-15 05:43] #219 closed

[2016-08-15 06:23] swenson opened #223 "Longs not supported"
Entering a number that is larger than a double can support seems to cause a type error.

e.g., `2**64` gives:

[code]

Rough TODOs:
- [x] Marshal PyLongs
- [x] Auto-promote arithmetic (2**1024)
- [x] Auto-demote float arithmetic (2**1024/3)
- [x] Make sure all arithmetic operations and builtins are ported over correctly

[2016-08-15 07:55] JasonThomasData opened #227 "Run sample link going to wrong place"
For some reason I can't figure out, the Batavia test page opens a link to the Batavia page when it is clicked on. Very strange!

[2016-08-15 08:00] JasonThomasData commented on #227
Closing this, this is a feature, lol.

[2016-08-15 08:00] #227 closed

[2016-08-15 23:38] #218 closed

[2016-08-17 00:03] candeira commented on #47
Progressing on `bytes`  by vendoring the Buffer JS library, stalled on `bytearray` because Buffer is mutable, but fixed-length. I'll keep reporting.

[2016-08-17 00:05] candeira commented on #101
@tysonclugg started on this one yesterday. I'm de-dibbing it.

[2016-08-22 08:21] sideffect0 opened #239 "Why not add option to transpile python to js instead of a VM"
* compile python to js
* use google closure compile to minimise it
* implement python3.5 features including async/await
I think that will be the betterway for perf & reducing the complexity, we can also add plugins for the system, been looking for a python solution in web, checked many but all have problems; believe me am also worked on web frontend technologies, if we are going to focus more on V

[2016-08-22 10:57] funkybob commented on #239
Because then we wouldn't be able to export bytecode from a server-side Python to run on the browser...

[2016-08-22 11:14] sideffect0 commented on #239
@funkybob why one need bytecode ? it again slows down the browser performance,
like C > CPython

[2016-08-22 11:47] glasnt commented on #239
Hi @sideffect0, the reasons behind why this design was chosen are described at a high level in this talk by @freakboy3742

http://pyvideo.org/djangocon-europe-2016/beyond-web-20-django-and-python-in-the-modern-web-ecosystem.html

[2016-08-22 12:24] sideffect0 commented on #239
@glasnt okey :)

[2016-08-22 12:24] #239 closed

[2016-08-22 21:53] glasnt commented on #239
@sideffect0 batavia covers python to JavaScript. For Android, you're after the VOC project.

Please have a look over http://pybee.org. If the reasoning behind the overall design choices is still unclear, please don't hesitate to ask questions.

[2016-08-23 04:28] sideffect0 commented on #239
@glasnt what all these projects missing is a good documentation, even `voc` :(

[2016-08-23 04:33] glasnt commented on #239
@sideffect0 Oh? The project page should have a [basic overview](http://pybee.org/project/projects/bridges/voc/) and links to [more detailed documentation](https://voc.readthedocs.io/).

You're more than welcome to help out improving the documentation, all contributions are welcome :)

[2016-08-23 04:50] freakboy3742 commented on #239
@sideffect0 It sounds like there is some sort of disconnect between what you think Batavia is, and what you're trying to do. It's entirely possible that Batavia may not be the right project for your needs. Batavia isn't a transpiler, and we have no plans to "add one" - because transpilation is a completely different approach to what we're trying to do.

You've mentioned Javascript and Android, Tra

[2016-08-23 05:40] sideffect0 commented on #239
@freakboy3742 was discussing about, not just `batavia` or `voc`, my doubts are
* any way i can add features to  batavia VM from javascript land updates
* its about voc https://github.com/pybee/voc/issues/245
* async, with like language pattern implementation in VM ( any near plans )
* a good documentation for voc ( android ) & batavia users

[2016-08-23 06:01] freakboy3742 commented on #239
@sideffect0 Ok - so first off: both Batavia and VOC are very young projects. As a result, there are things that aren't implemented. Async is one; with statements are another. Over time, I'd expect these to be implemented, but as this is a all volunteer work, I can't really make any guarantees on when they will be implemented. If you happen to know any sources of funding for FOSS development, I'd l

[2016-08-23 06:18] sideffect0 commented on #239
@freakboy3742 am happy to contribute :+1:

[2016-08-24 05:58] shyam114 commented on #46
Hello,
I would like to help by contributing code but I don't know where to start. Any pointers in that direction would be great :). I have two years of experience in Python ( if this helps )

Thank you

[2016-08-30 13:14] jstoebel opened #246 "Confused END_FINALLY: TypeError: undefined is not a valid argument for 'instanceof'"
Working on `String.__ge__` I encountered this error when running tests. Would it be appropriate to take a crack at this? Any words of wisdom/hints?

[code]

[2016-08-30 14:29] freakboy3742 commented on #246
Ok - "Confused END_FINALLY" is Batavia's way of telling you an exception happened somewhere internally. It's the equivalent of Python's problem where an exception gets caught and rethrown, and then you lose the original source of the exception.

It's not going to be *trivial* to solve, but as long as you've got some perseverance, a can-do attitude, and you can drive the javascript debugger in your

[2016-08-30 23:51] jstoebel commented on #246
Fortunately for me, the problem was a simple one: I had misspelled a batavia type.

[2016-08-30 23:51] #246 closed

[2016-08-30 23:58] jstoebel opened #247 "implementing String.__mod__"
The modulus operator for Str seems straight forward enough. for example:

[code]

However, someone very smart wrote the tests here:

[code]

The mod operator is misunderstood as string formatting. Any guidance for how to implement this? I could use a regex to check if the left operand has a string formatting marker in it, but there might be a smarter method. I welcome input.

[2016-08-31 01:19] freakboy3742 commented on #247
This is a bit of a hairy one. The mod operator on String is one of the most complex operators, because under the hood it's Python's string substitution, which has a lot of edge cases.

There's [an existing utility method](https://github.com/pybee/batavia/blob/master/batavia/utils.js#L112) that does *part* of the job; but there's obviously a lot of type handling and special cases that need to be ha

[2016-08-31 12:25] wolfv commented on #247
Brython also seems to have a fairly complete implementation for reference, maybe? I can't judge how good it is: https://github.com/brython-dev/brython/blob/63b2c5cacf3d15aca20f40cb16986e1bc65ee18c/www/src/py_string.js#L580

[2016-08-31 23:31] freakboy3742 commented on #247
@wolfv I've only had a quick look, but it looks like a pretty good implementation, and the Brython license allows re-use with attribution. It may well be worth borrowing...

[2016-09-01 09:48] jstoebel commented on #247
thanks. I'd like to work on this if that's alright.

[2016-09-01 22:13] jstoebel commented on #247
what is the right way to credit Brython's implementation?
https://github.com/brython-dev/brython/blob/63b2c5cacf3d15aca20f40cb16986e1bc65ee18c/LICENCE.txt

[2016-09-02 00:52] jstoebel commented on #247
I've started work on porting over the function from Brython and have hit an interesting snag. Here is the [commit:](https://github.com/jstoebel/batavia/commit/4414f8185a51b0778475a25b79be754b1f2f35ca#diff-738bea61621ebe472834e9b3a17930aaR417)

I added functionality at the top of the function to detect if the number of arguments given != the number of format markers and throw the correct error if s

[2016-09-02 17:07] swenson commented on #247
The tests run using PhantomJS. I wonder if there is some subtle difference in the way they handle regexes?

[2016-09-02 21:01] jstoebel commented on #247
thanks I will investigate that.

[2016-09-03 09:40] glasnt commented on #223
Given #251, running `2**64` on the testbed now doesn't break. Is this one now resolved, @swenson?

[2016-09-03 10:52] jstoebel commented on #247
Firing up the phantomjs CLI I find that this rexep does not work

[code]
I get the error: `Invalid regular expression: nothing to repeat` even though it does compile in node.

Through some trial and error I found that removing the `(\+)?` causes the problem to go away. Strangely, phantomjs does not even like the simple regex `(\+)` (throws the same error)

I filed a [ticket](https://github.com/ari

[2016-09-03 15:53] swenson commented on #223
Yep! This should be done now.

[2016-09-03 15:53] #223 closed

[2016-09-04 00:20] glasnt commented on #223
Heck yeah! ✨🎉✨

[2016-09-04 15:15] jstoebel opened #254 "unexpected results for list // complex"
Implementing list // complex() Python throws `TypeError: unsupported operand type(s) for //: 'list' and 'complex'` but expectation from the unit test is `<class 'TypeError'> : can't take floor of complex number.`

Is this a bug or am I misunderstanding something? I'd love to work on this if its not to...complex \*rim shot\*

[2016-09-04 23:42] freakboy3742 commented on #254
Which test are you referring to? I'm not seeing any explicit tests in the complex data type; and the auto generated tests seem to be working as advertised:

[code]

Can you provide the example where you're getting the "unsupported operand" error?

[2016-09-05 00:59] jstoebel commented on #254
Apologies, I didn't have my virtualenv activated before. Those results were for Python2 and thus invalid. When I run your example in Python3.4 I get the same results.

[2016-09-05 00:59] #254 closed

[2016-09-12 06:46] swenson opened #264 "Class inheritance errors out"
When importing the `datetime` module, which went something like this:

[code]

the second line errors out with something like `date not found`.

Attempting to get a small reproducer gives a different error:

[code]

gives the error `TypeError: Cannot read property 'prototype' of undefined`. Different, but also needs to be addressed.

[2016-09-13 02:25] swenson opened #266 "Javascript <-> Python bridge"
We should be able to pass all kinds of values back and forth between Python and Javascript, like in the testserver, and Pythonize and de-Pythonize.

[2016-09-14 05:32] shyam114 commented on #47
Hey @freakboy3742 the link in this (https://github.com/pybee/batavia/issues/47#issuecomment-230678203) points to 404 error page.

[2016-09-14 07:18] freakboy3742 commented on #47
@shyam114 Thanks - I've just corrected the link.

[2016-09-22 05:52] swenson opened #272 "Complete standard library"
We should be able to load the complete standard library.

Here is a list of the potential base modules we should be able to run that are present in Ouroboros, sorted (roughly) in the order of difficulty.

* [ ] colorsys
* [ ] copyreg
* [ ] this
* [ ] _markupbase
* [ ] _weakrefset
* [ ] abc
* [ ] bisect
* [ ] chunk
* [ ] codeop
* [ ] ipaddress
* [ ] itertools
* [ ] sre_constants
* [ ] stringprep
*

[2016-09-23 02:21] freakboy3742 opened #273 "Add support for importing a module by HTTP"
At present, if you want to import a module, it must either be shipped as part of Batavia, or included as a payload in a  `<script>` tag with `id=batavia-module.name.here`.

It would also be desirable to be able to import over HTTP. When the Batavia VM is initialised, you would provide a URL endpoint; if a module can't be found locally, the `__import__` mechanism would hit that URL, request the mod

[2016-09-23 04:02] swenson commented on #264
This is partially addressed, in that very simple `super()` usages were added in https://github.com/pybee/batavia/pull/268

[2016-09-23 04:06] swenson opened #274 "Dictionary, set, and frozenset implementations have duplicate key problems"
Since JavaScript is pretty lax about equality, we get unexpected behavior when mixing types in dictionaries and sets:

[code]

gives `{'1': 456}` for example, and

[code]

gives `{'1'}`.

I think we may have to roll our own hash table implementation to fix this.

[2016-09-23 04:11] swenson opened #275 "`compile_stdlib.py` improvements"
The `compile_stdlib.py` is a program that converts standard library `.py` files into `.js` files by compiling them to bytecode (`pyc`), and then encoding that in JS.

There are a number of improvements that we would like to make to this tool.

* [ ] Accept arguments to specify what libraries to include
* [ ] Modify it to produce the `batavia.js` file itself, patching it together, rather than doing

[2016-09-23 05:17] freakboy3742 commented on #275
Another idea: make the path to the Ouroboros directory a configuration flag.

[2016-09-23 05:18] freakboy3742 commented on #275
And another: a configuration file storing the build options that can be passed in at runtime. This enables the build options to be version controlled as part of a build/deployment system.

[2016-10-06 16:06] williln opened #290 "Possible bug/possible me? Errors running tests"
Hi @freakboy3742 @glasnt @phildini:

I ran the tests last night after doing all the things in the Getting Started, and 21 tests failed, mostly in tests.modules.test_math.MathTests. I scrolled through the tests that failed and it seems the tests are failing with these errors:

-  'AttributeError'> : 'module' object has no attribute 'isclose'
- 'AttributeError'> : 'module' object has no attribute 'g

[2016-10-06 16:27] phildini commented on #290
It's almost certainly not you, even if the error is only occurring for you. If you followed the docs and are getting an error, we need to fix the docs!

I don't know the exact cause, here, and Katie/Russell won't be on for a bit. @swenson may have come across this before.

Can you tell us a bit more about where you're running this? Mac/Linux/Windows, etc?

[2016-10-06 16:39] williln commented on #290
I'm running on a Mac OS X El Capitan v. 10.11.16. I had to do a couple things last night to get properly set up. (I don't use a lot of modern tools for my day job, so things like homebrew are still new to me!)

- The instructions I was following are [here](http://batavia.readthedocs.io/en/latest/internals/contributing.html#setting-up-your-development-environment)
- homebrew wasn't working, which t

[2016-10-06 17:33] swenson commented on #290
Hi @williln.

It sounds like the `math` module isn't being loaded.

When I run this test locally (and on CircleCI), it seems to be okay:

[code]

I suspect that if you were updating an old copy of batavia, something might have gotten lost. I'd check the following things:

* In `Makefile`, check that there is a line under `BASE_FILES` that says `    batavia/modules/math.js \` -- this ensures that t

[2016-10-06 21:37] glasnt commented on #290
Hi @williln,

I'm also on El Cap, so yay similar dev environments :)

One of the major changes to batavia recently is the requirement for `ouroboros`. I didn't have this locally, but when I tried to run `make`, I got the error `'ouroboros' folder must be present here or in the parent directory to compile stdlib`, which was informative.

If you already have ouroboros setup, then that's great :)

Bu

[2016-10-07 16:05] williln commented on #290
@swenson I followed all your instructions and got these results:

That line was there

That module was there, and contained that line

Did this, and it seemed to go okay? Not sure what was supposed to happen, but this is what happened:
<img width="632" alt="screen shot 2016-10-07 at 9 01 35 am" src="https://cloud.githubusercontent.com/assets/2286304/19197033/b37014be-8c6c-11e6-96ae-120086c19710.pn

[2016-10-07 16:51] swenson commented on #290
@williln That all looks correct. :/ Not sure why it's not working for you. I'd try @glasnt's tips next.

[2016-10-08 04:09] swenson opened #293 "Implement regular expression library (re)"
Most of `re` is written in C in CPython, meaning we have to find an alternative.

One possibility is PyPy's implementation, which appears to be mostly written in RPython:

https://bitbucket.org/pypy/pypy/src/b0e70c0c2ac0d1b8a066b64eb94bd3b858a9be8f/rpython/rlib/rsre/?at=default

We could possibly, with some modifications, load this, similarly to how we load in ouroboros modules.

[2016-10-08 04:14] swenson opened #294 "Compile Python into bytecode in batavia directly"
In order to be self-hosted (and run without CPython also being present), we need to be able to compile Python into bytecode ourselves.

There are four big pieces to making this happen:

1. Lexical analyzer (convert source to series of simple tokens).
2. Write code generator for grammar to autogenerate a lot of JS for us.
3. Implement the parser to convert tokens into an AST (with the help of the g

[2016-10-11 00:35] williln commented on #290
@glasnt Still having problems. I deleted my fork entirely and re-cloned, following the instructions [here](http://batavia.readthedocs.io/en/latest/internals/contributing.html#setting-up-your-development-environment) to the letter, except that the ```git clone git@github.com:<your github username>/batavia.git``` command didn't work. I could clone using the URL from the web interface, which for me i

[2016-10-11 00:37] williln commented on #290
This feels like such a silly thing; the tests work fine in the master repo, I cloned that repo, the tests should run. I have ```ouroboros``` set up. I feel like this:
![2436074097_1b6296344b](https://cloud.githubusercontent.com/assets/2286304/19255208/435946e0-8f10-11e6-8faa-e60d6f861631.jpg)

[2016-10-11 01:23] swenson commented on #290
Okay. This was super confusing to me, so I checked the docs, and I was enlightened:

![image](https://cloud.githubusercontent.com/assets/33404/19255815/65d1b31e-8f16-11e6-97f0-2d14a2ffcd06.png)

This is CPython having an error, not us! We run the tests on CPython 3.5, but they currently fail for 3.4 because the math library added new functions in 3.5 (like `isclose`).

I think it's best if we just

[2016-10-11 01:48] glasnt commented on #290
I had a live-chat with @williln and we worked out a few things:

The `git clone git@` invocation wasn't working because she doesn't have SSH keys setup for GitHub.

The tests weren't working because of the 3.5.1 issue. She had 3.4.1 system locally, we setup `pyenv` with 3.4.4, got the same math test error, setup 3.5.1, and that specific math test worked.

I'm going to put together a PR to ensure t

[2016-10-11 04:43] swenson commented on #290
👍 @glasnt -- thanks!

[2016-10-11 13:12] freakboy3742 commented on #290
We don't have to comment out the tests; we can make them a conditional test with the `skipIf` or `skipUnless` decorators:
[code]

As for docs recommending `pyenv` - sounds good to me. pyenv is the "official" replacement for virtualenv; they're not identical, but they're close, and virtualenv comes packaged out of the box with Python 3.5.

Unless, of course, you're using ubuntu, because they borked

[2016-10-11 13:54] freakboy3742 commented on #290
/me facepalms - you said pyenv, not pyvenv. Ignore me :-)

[2016-10-11 16:06] williln commented on #290
I finished running the tests last night and they all pass! Thank you @glasnt and @swenson for your help! I'm closing this issue now :)

[2016-10-11 16:06] #290 closed

[2016-10-14 08:03] candeira commented on #266
Hi, @swenson, do you have an example of another hosted language that does this? I'd like to look at it to steal ideas about the API, use cases, etc.

[2016-10-14 22:26] glasnt commented on #91
Well this one fell by the wayside. It's now superseded by #297

[2016-10-14 22:26] #91 closed

[2016-10-15 07:27] rkrp commented on #274
I would like to work on this one 😄

I have forked and cloned the source. Trying out Batavia locally. I am going through the documentation right now. Please let me know how to proceed further.

[2016-10-15 07:30] swenson commented on #274
Oh, sorry @rkrp -- I think I merged the fix for this the other day and forgot to close this issue! :( https://github.com/pybee/batavia/pull/288

[2016-10-15 07:30] #274 closed

[2016-10-15 07:31] swenson commented on #274
There are lots of other things to work on. I recommend checking out https://github.com/pybee/batavia/issues/47 and https://github.com/pybee/batavia/issues/46 for example.

[2016-10-15 10:55] rkrp commented on #274
@swenson  Oh. That's okay.

But, #47 and #46 has a `first-timers-only` tag. I have sent a handful of PRs to other projects (mostly small stuff) which has been accepted and merged. So, I am technically not a first timer. Would it be okay for me to be working on these issues?

[2016-10-15 14:55] swenson commented on #274
Yes. I think first-timers-only is meant for first-timers-only to this project, as they are meant to gently introduce you to the codebase :)
On Oct 15, 2016 03:55, Krishna Ram Prakash R <notifications@github.com> wrote:@swenson  Oh. That's okay.

But, #47 and #46 has a first-timers-only tag. I have sent a handful of PRs to other projects (mostly small stuff) which has been accepted and merged. So,

[2016-10-15 18:19] swenson opened #304 "Switch to Nose for testrunner"
This has some advantages:

* Auto-parallelization in CircleCI
* Switch to jUnit XML output so that CircleCI will have better test result messages
* Easier to collect names of tests, and other automation

[2016-10-16 11:39] rkrp opened #305 "hex() produces incorrect output"
`hex()` produces incorrect output.
[code]
instead of giving `0xdeadbeef`

This is because, hex conversion is done by `toString()` method and `toString()` method is overridden [here](https://github.com/pybee/batavia/blob/e11f49e6423b3a30dc7b51d9120d961e45554c82/batavia/types/Int.js#L36) in `Int.js`

So, the implementation of `hex()` in `builtins.js` will always return

    return this.val.toFixed(0

[2016-10-16 15:12] freakboy3742 commented on #304
Hrm... Personally, I'm not a big fan of Nose (or py.test for that matter). But I'd be interested to hear what others think.

[2016-10-16 16:24] swenson commented on #304
I've had a hard time running out test suite under anything other than what we have. The logic to determine what constitutes a test by default is strange.
I mostly want to be able to parallelize tests and collect the output in jUnit files, but I don't care so much what tool gets us there. Enumerating tests would also be nice.
On Oct 16, 2016 8:12 AM, Russell Keith-Magee <notifications@github.com> w

[2016-10-17 14:25] candeira commented on #246
Hi, jstoebel, I'm working on `bytes()`, was planning to do `str.encode()` next and implement bytes/str equality, then do `bytearray()`. I see from this issue that you are working on `bytearray()` too, am I mistaken? My working branch is here: https://github.com/pybee/batavia/pull/221

[2016-10-17 14:34] jstoebel commented on #246
Hi @candeira I'm not actively working on this at the moment, opting instead to work on the `time` module. It sounds like you're motivated so go ahead. You won't be stepping on my toes.

Thanks for the check in though!

[2016-10-17 14:37] candeira commented on #246
No worries, cheers!

[2016-10-18 13:28] barmvicente commented on #46
working on `test_add_complex` for int

[2016-10-18 13:29] fbidu commented on #46
Working on `'test_ge_complex` for `int`

[2016-10-18 13:33] candeira commented on #304
@swenson: would nose paralellise tests also locally? Example: my laptop has two cores, four if you count hyperthreading. Would tests run on all four HT cores if I ran the command in a particular way?

[2016-10-18 15:08] ramiroluz commented on #46
Working on 'test_get_str' for bool.

[2016-10-18 15:46] ramiroluz commented on #46
Working on 'test_ge_bytearray' for bool.

[2016-10-18 15:56] ramiroluz commented on #46
Working on 'test_ge_bytes' for bool.

[2016-10-18 16:04] ramiroluz commented on #46
Working on 'test_ge_class' for bool.

[2016-10-18 16:42] swenson commented on #304
@candeira It does! I believe there is a flag you can use with nose to make it auto-parallelize.

[2016-10-18 16:46] johnnywell opened #318 "Test "test_set_of_ints_and_strs (tests.datatypes.test_set.SetTests)" is failing"
[code]

[2016-10-18 17:04] fbidu commented on #46
working on
[code]

for bool

[2016-10-18 17:15] martini97 commented on #318
I think we already fixed that, try checking the code of https://github.com/pybee/batavia/pull/316

[2016-10-18 17:15] italomaia commented on #46
Dibs on test_lt_bytes

[2016-10-18 17:17] barmvicente commented on #46
working on `test_multiply_complex` for `int`

[2016-10-18 17:27] ramiroluz commented on #46
Working on         'test_ge_complex',
        'test_ge_dict',
        'test_ge_frozenset',
        'test_ge_list',
        'test_ge_None',
        'test_ge_NotImplemented',
        'test_ge_range',
        'test_ge_set',
        'test_ge_slice',
        'test_ge_tuple',
for bool.

[2016-10-18 17:37] rougeth commented on #46
Working on `'test_ge_tuple'` for `bool`

[2016-10-18 17:49] ramiroluz commented on #46
Working on:
        'test_le_bytearray',
        'test_le_bytes',
        'test_le_class',
        'test_le_complex',
        'test_le_dict',
        'test_le_frozenset',
        'test_le_list',
        'test_le_None',
        'test_le_NotImplemented',
        'test_le_range',
        'test_le_set',
        'test_le_slice',
        'test_le_str',
        'test_le_tuple',

for bool.

[2016-10-18 18:22] barmvicente commented on #46
working on `test_gt_complex` for `int`

[2016-10-18 18:42] johnnywell commented on #46
Working on `test_eq_dict` for dict

[2016-10-18 19:07] barmvicente commented on #46
working on `test_le_complex` for `int`

[2016-10-18 19:26] JimBrouzoulis opened #326 "Inconsistent failures during test run on win for module 'test_filter'"
I wanted to get involved with the project so thought I would start by running the test suite; however, I'm seeing some strange behavior.

* running `setup.py test` caused the test to get stuck in `test_filter.test_str_range`
* I ran just that module and got several Fails, everyone in the `FilterTests` class but also several tests that weren't in the `not_implemented` list, like `test_str_range`, `

[2016-10-18 19:35] ramiroluz commented on #46
Working on:

        'test_lt_bytearray',
        'test_lt_bytes',
        'test_lt_class',
        'test_lt_complex',
        'test_lt_dict',
        'test_lt_frozenset',
        'test_lt_list',
        'test_lt_None',
        'test_lt_NotImplemented',
        'test_lt_range',
        'test_lt_set',
        'test_lt_slice',
        'test_lt_str',
        'test_lt_tuple',

for bool.

[2016-10-18 19:46] ramiroluz commented on #46
Working on:  test_ne_str for bool.

[2016-10-19 01:53] glasnt commented on #305
Resolved in https://github.com/pybee/batavia/pull/316 🎉

[2016-10-19 01:53] #305 closed

[2016-10-19 02:11] glasnt commented on #318
Yup, this is fixed as of #316. Make sure you update your fork of the repo to the upstream master branch to get these changes ✨

[2016-10-19 02:11] #318 closed

[2016-10-19 12:28] jstoebel opened #329 "implementing time module"
many of the functions for `time` will, I believe, be covered with Ouroboros, but some need to be implemented here. I'd like to work on them.

- [x] `struct_time`
- [x] `mktime`
- [ ] `localtime`
- [ ] `gmtime`

[2016-10-19 18:11] Slepice1 commented on #47
Working on max() and min()

[2016-10-21 01:23] candeira opened #332 "`set` iterator yields floats as strings, or possible ordering issue"
My `bytes` implementation was initialising objects from `set` fixtures perfectly, and then I rebased on master and these errors happened:

[code]

Since the `bytes()` initialisation works fine when iterating over dicts, lists and tuples, I suspect the reworking of `set` objects on top of the new `dict`s here: https://github.com/pybee/batavia/pull/288, or maybe some ordering/substitutions issue.

@

[2016-10-21 01:26] swenson commented on #332
This looks like an ordering issue. CPython randomizes the order of sets every time, so we shouldn't write tests that rely on the order.

[2016-10-21 02:12] candeira commented on #332
So it can be fixed using substitutions? Most of the operations for failing tests depend on getting the right exceptions on the right order.

[2016-10-21 11:56] candeira commented on #47
Dibbing `str()`. Currently batavia has implemented the Python2 version of `str()`, and we want the Python3 version. Taking it over because it fits neatly with the work I'm doing in `bytes()`.

[2016-10-21 19:19] ramiroluz opened #333 "Use isbataviainstance where check classes are needed."
Rename the function to isbataviainstance.

https://github.com/pybee/batavia/blob/master/batavia/utils.js#L48

Example of use: https://github.com/ramiroluz/batavia/blob/8708f51d7b183d632c5465a26481675d5d52c7a4/batavia/types/Bool.js#L301

I can do that, just let me know if you don't think it is a good idea.

[2016-10-22 01:01] ramiroluz opened #334 "Implement a function to check valid types for a type."
A valid function in utils would receive a type name parameter and return true if the type is compatible with the name.

Example:
  - other is a batavia.types.Bool: valid('Bool', other) -> true
  - other is a batavia.types.Int: valid('Bool', other) -> true
  - other is a batavia.types.Float: valid('Bool', other) -> true
  - other is a batavia.types.Dict: valid('Bool', other) -> false

It could be u

[2016-10-22 03:32] ramiroluz commented on #46
Working on:
test_lt_bytearray
        test_lt_bytes
        test_lt_class
        test_lt_complex
        test_lt_frozenset
        test_lt_range
        test_lt_set
        test_lt_slice

        'test_le_bytearray',
        'test_le_bytes',
        'test_le_class',
        'test_le_complex',
        'test_le_frozenset',
        'test_le_NotImplemented',
        'test_le_range',
        'test_le_

[2016-10-22 03:42] ramiroluz commented on #46
Working on

        'test_gt_bytearray',
        'test_gt_bytes',
        'test_gt_class',
        'test_gt_complex',
        'test_gt_frozenset',
        'test_gt_NotImplemented',
        'test_gt_range',
        'test_gt_slice',

for dict.

[2016-10-22 09:28] candeira commented on #332
I've worked around this issue in commit c3dd12c8a11331ddd437226fedf7cccbf5e4b66d

[2016-10-22 09:28] #332 closed

[2016-10-22 14:20] ramiroluz commented on #46
Working on:

        'test_lt_class',
        'test_lt_complex',
        'test_lt_frozenset',

for int.

[2016-10-22 14:43] ramiroluz commented on #46
Working on:

        'test_le_bytearray',
        'test_le_bytes',
        'test_le_class',
        'test_le_frozenset',

for int.

[2016-10-22 15:28] ramiroluz commented on #46
Working on:

        'test_gt_bytearray',
        'test_gt_bytes',
        'test_gt_class',
        'test_gt_frozenset',

for int.

[2016-10-22 15:37] ramiroluz commented on #46
Working on:

        'test_ge_bytearray',
        'test_ge_bytes',
        'test_ge_class',
        'test_ge_frozenset',

for int.

[2016-10-22 23:51] freakboy3742 commented on #333
Yes -  this looks like a really good idea. If #335 is any indication, this will clean up the code significantly.

[2016-10-22 23:55] freakboy3742 commented on #334
Could you provide an example of how you'd use this in practice? Simplifying the logic in operators would definitely be nice, but it isn't clear to me that defining a `valid()` method like the one you describe would make things cleaner.

A working code example would be very helpful - it doesn't have to be rolled out through the whole of Batavia (or even the whole of Bool) - just something to illust

[2016-10-23 00:39] ramiroluz commented on #46
Refactoring Boolean.prototype.__gt__

[2016-10-23 03:15] ramiroluz commented on #334
Look at this example:
https://github.com/ramiroluz/batavia/commit/e71d4232647c8c710c8502fb2df0de0a38f09c59

I don't think that it is a good idea to change the `__pow__` method anymore. The function `behave_like` doesn't fit there and I am not comfortable changing the `__pow__` method.

[2016-10-31 20:43] ElSaico opened #342 "time.mktime needs to handle tm_isdst"
Seems like Batavia's `mktime` is assuming the wrong timezone - all expected values are exactly one hour away!

[code]

[2016-11-01 00:40] freakboy3742 commented on #342
Interesting - thanks for the report.

The broader problem of "solving all timezones" needs a database like pytz. However, the core functionality of mktime shouldn't be timezone dependent. So, the question becomes why UTC isn't being used on your machine.

[2016-11-01 01:30] ElSaico commented on #342
Aaaaaaand eureka!

Turns out `mktime`'s current implementation misses one crucial attribute - namely `tm_isdst`, which is currently 1 when running `localtime` here and assumes the `BRT` timezone when initialized to 0.
...which opens a whole new can of worms about how to handle it properly. Ouch.

[2016-11-01 01:49] freakboy3742 commented on #342
Q: How do you tell if someone is a programmer?
A: Ask them if they have an opinion on timezones. If they start swearing, they're a programmer.

:-)

Just checking - is this an issue with `mktime`, or with the *test* for `mktime`?

[2016-11-01 02:33] ElSaico commented on #342
*sighs* Indeed.

It's an implementation issue - `tm_isdst` is relevant for us poor DST'ers, and the million-dollar question is how to map it properly to JavaScript.

Just peeked at the Emscripten source for some inspiration since this kind of low-level shenanigans is right on their alley, but their handling of `tm_isdst` only makes sense to whoever wrote it.

[2016-11-01 11:11] ElSaico commented on #329
Would add `sleep` into this mix as well.

[2016-11-01 11:52] ElSaico commented on #342
Mmmm. Since #339 vendors in `moment`, which knows how to handle DSTs properly, it seems better to just wait until it's accepted.

[2016-11-01 12:19] jstoebel commented on #342
Thanks for catching this @ElSaico!

[2016-11-01 18:39] ElSaico commented on #293
Well, there is JavaScript's native RegExp... though converting Python's extensions to its syntax would be hard work anyway.
(and, amusingly enough, would require extra regexes)

[2016-11-01 19:01] ElSaico commented on #293
And porting the old `sre` from Python <= 2.4 module into Ouroboros is also an option - it seems to be the approach taken by Brython, for one.

[2016-11-01 19:07] swenson commented on #293
Is the `sre` module from Python <= 2.4 written in pure Python? If so, I'd definitely be into that as a start. Even if we aren't 100% compatible with the latest stuff, getting basic `re` working would be a huge step.

[2016-11-01 19:18] ElSaico commented on #293
It is!

The only hard new part seems to be the flags thing; everything else looks trivial.

[2016-11-01 19:22] swenson commented on #293
Awesome! I'd love to see some work on that then :)

[2016-11-05 11:54] thatdocslady opened #346 "Restructure the doc library"
Currently in the RTD doc set, there are a few improvements that can be done to the TOC structure and order of topics. Some examples:

- The FAQ and Getting Started are nested inside "About Batavia" and collapsed by default.
- The "About Batavia" section should contain community/development information and moved to the end of the TOC.
- How-to guides doesn't actually contain info on how to use the

[2016-11-05 13:55] adamchainz commented on #304
I'm a pytest fan. You can parallelize on it with the pytest-xdist plugin.

One thing to consider is that Nose is effectively abandoned at this point, whilst development continues on pytest.

[2016-11-05 14:20] MisterRios commented on #47
@greeve hey- are you still working on ascii? I've also started work on it, not realizing you had claimed it already.

[2016-11-06 04:15] candeira opened #356 "Errors in time module"
I just pulled a fresh master (265ef1ac0af970c30016452da7fb0c4e95fab7ae) and the tests for the time module fail:

[code]

[2016-11-06 05:12] candeira opened #357 "Weird errors with some trig functions, get reported in "test_base64""
There are some erros that report themselves as being in test_base64, but don't show up when you only run the tests for the base64 module. Best explained by the console output:

[code]

[2016-11-06 05:17] swenson commented on #357
I think I see the problem -- when in the `test_math.py` tests, we accidentally modify the base class, `ModuleFunctionTest`, instead of just the `MathTests` class.

The easiest fix for this for now is to remove `ModuleFunctionTestCase` from the `Base64Tests` -- it looks like they aren't needed.

[2016-11-06 05:51] candeira commented on #357
Thanks, @swenson. I'm kind of itching to merge my own branch, so I might just fix it myself if I can find a quick way to do it.

[2016-11-06 09:30] candeira commented on #357
I posted a fix on this commit: 14137aa72cb196d4ac883ce8c09d90d794ff6dbb

[2016-11-06 09:36] candeira commented on #356
I wrote a commit to skip these tests, and found that they pass on CircleCI. Could it be a timezone issue? I'm in Australia, my laptop's set for AEDT:

[code]

In any case, the fact that the tests run differently in CI than on my laptop gives me pause.

The difference between the cPython and the Batavia values for `mktime` is consistently 3600, which is the number of seconds in an hour, so that mak

[2016-11-06 11:31] jstoebel commented on #356
I _believe_ this repeats [this ticket](https://github.com/pybee/batavia/issues/342). One solution raised by @ElSaico was to use moment.js to properly handle timezones. At the moment I am having trouble getting the CI to play nice with `moment`. (see [here](https://github.com/pybee/batavia/pull/339) If you have any thoughts on how to address this, I would love to hear them.

[2016-11-06 11:54] candeira commented on #356
Yes, I didn't realise it was a repeat of the ticket, since I experienced it as a regression. Sorry for that.

I'll close this ticket and track the other one.

[2016-11-06 11:56] #356 closed

[2016-11-06 18:33] jstoebel commented on #342
Here's a silly video to that seems apt to this issue: https://www.youtube.com/watch?v=k4EUTMPuvHo&feature=youtu.be

[2016-11-06 22:10] rixx commented on #47
@thewus - are you still working on `len()`/`__len__`? I'd grab that one otherwise.

[2016-11-06 22:42] rixx commented on #46
Working on operations on `set`.

[2016-11-07 01:33] freakboy3742 commented on #346
Fixed in 26d6833.

[2016-11-07 01:33] #346 closed

[2016-11-07 01:34] carljm opened #367 "Some builtins should raise `TypeError: foo() takes no keyword arguments`"
A number of builtin methods implemented in C in CPython can never take keyword arguments; examples include `tuple.count()` and `tuple.index`. If you try to pass any keyword argument, you'll get `TypeError: xxx() takes no keyword arguments`. This should be reproduced in batavia.

[2016-11-08 13:31] #357 closed

[2016-11-13 02:48] clach04 commented on #175
This issue appears to be resolved (at least I'm not seeing problems under Windows with commit 92085796a690251957dc5f203388b0fdfbe850b1 which is the latest as of today). `type` is being used over `cat` under Windows. There are some instruction issues though (for Windows), I'll post a PR for those.

[2016-11-13 03:46] clach04 opened #375 "error handling"
This may be a doc issue, it's not clear what expected the error handling is. For example the following script ran through the test server:

    addr = 99
    print(addr)

Works fine, but:

    #addr = 99
    print(addr)

fails silently. It is a runtime failure as Python is dynamic and addr does not exist at execution time.

Using a Python 2 print statement fails, at compilation time:

    #addr =

[2016-11-13 05:17] freakboy3742 commented on #375
Is it failing silently, or is it just that the exception isn't visible? If you show the javascript console, is an exception displayed?

If this is the case, you're highlighting an area where improvement is definitely called for.

[2016-11-13 06:38] lucantrop opened #376 "problems with user-defined classes"
Hey, so, I was looking into how classes work, and I ran into a problem similar to #375.
However, while
[code]
does output the correct error (inside the console),
[code]
doing a similar thing with a user-defined class (and it's object):
[code]
instead of reporting an `AttributeError`, simply returns `None`.
In `tests/structures/test_class.py`, there is no test for this kind of behaviour.
Also, pyth

[2016-11-13 08:00] greeve commented on #47
Sorry for the delayed response. I started but didn't finish implementing
ascii. Go ahead with yours.

Thanks,
Greg

On Sat, Nov 5, 2016 at 8:20 AM, Daniel Rios <notifications@github.com>
wrote:

[2016-11-13 14:40] jstoebel commented on #272
I'm interested in working on this, but I don't understand what is needed. Oroborus is written in Python, don't these libraries need to be implemented in Javascript to function in the browser? What am I not understanding?

[2016-11-14 00:04] freakboy3742 commented on #272
The aim of Ouroboros is to be a pure python reference implementation of the Python standard library. This can then be used by Batavia (by compiling to Javascript), or VOC (compiling to Java), or any other platform for that matter.

There are some portions that will inevitably require a native implementation - for example, you can't write sockets in Python without access to some sort of socket laye

[2016-11-14 13:27] jstoebel commented on #272
thanks for that clarification. How then should I go about identifying the parts that need a native JS implementation? Do I need to try out features by hand one by one until I hit a problem or is there a better way?

[2016-11-14 15:54] clach04 commented on #375
I may be responding to this too late, there is something in the browser console if it is enabled:

    Create VM127.0.0.1:8000:259:5
    Run code...127.0.0.1:8000:261:5
    Traceback (most recent call last):
      File "C:\Users\clach04\AppData\Local\Temp\tmp48yasxky", line 2, in <module>
    NameError: name 'addr' is not definedVirtualMachine.js:821:13
    done.

Slightly off topic, with the last

[2016-11-30 15:31] shaib opened #381 "property support"
Hi,

Current Batavia says, if you try to define a property:
[code]
As you might guess from this traceback, I'm working on the Web (Django) backend, and properties are required if you want to make controls which change in response to events.

This issue may, or may not, be considered a sub-task of #47.

[2016-11-30 18:38] shaib commented on #381
So, I started looking into implementing this, and it is not a simple function to write. We need to add support in the core.

The current `byte_LOAD_ATTR()` function probably needs to support it, but unless I'm missing something, it does not -- but further, it lets `__getattr__` override existing attributes and doesn't do `__getattribute__` at all. Looks like a bug.

[2016-11-30 22:22] shaib opened #383 "Deal with new Python magic number for 3.5.3 and Debian"
Python bug http://bugs.python.org/issue27286 was resolved by, among other things, bumping the PYC magic number. The patch with the new magic is already included in Debian testing (which calls its Python version "3.5.2+") and will be included in Python 3.5.3.

Ignoring the change causes hundreds (maybe thousands) of test failures. A trivial fix adding the new version constant and treating it as equ

[2016-12-01 01:10] freakboy3742 commented on #381
The `__getattr__` problem you've mentioned is almost certainly a bug. First pass at `byte_LOAD_ATTR` was "get it working"; fully compliant `__getattribute__`/`__getattr__` chaining was further down the list.

I can say from my experience with Java and VOC that `property` turns out to be not that hard to implement - *once* you've got the `__getattr__` stuff sorted out.

[2016-12-01 01:24] freakboy3742 commented on #383
ACK. This is the risk of dealing with bytecode.

I'd rather the constant be `BATAVIA_MAGIC_352` rather than call out Debian specifically; if this is going to affect 3.5.2 users as soon as that is released, then it's better to be ahead of the curve.

As for the message text changes: we have some code in the test utils to normalize test messages, but we probably need a broader policy on how we're go

[2016-12-01 08:30] shaib commented on #383
Yes, we should be using a version number and not "Debian", altough it's 3.5.3: The file in 3.5.2 -- https://hg.python.org/cpython/file/v3.5.2/PC/launcher.c#l1070 -- has 3350 listed as the high limit for 3.5.x magic numbers; that's the `22, 13,` of `BATAVIA_MAGIC_35`. The current 3.5.x source -- https://hg.python.org/cpython/file/3.5/PC/launcher.c#l1070 -- updates that to 3351, corresponding to `23

[2016-12-02 04:21] glasnt opened #385 "Add conditional debugging flags"
As noted in https://github.com/pybee/batavia/pull/373#discussion_r87715495

[2016-12-02 04:33] #375 closed

[2016-12-04 02:14] glasnt opened #388 "Issues with #377"
I jumped the gun on merging this one; not realising there was ongoing discussions in gitter ([see discussions](https://gitter.im/pybee/general?at=5842f63e6b32e870497f514f))

#377 works on CI, but not in some local environments.

[2016-12-04 14:34] shaib opened #390 "Put npm into the virtualenv (doc issue)"
I suspect this may be an improvement to workflow, at least for contributors:
 https://lincolnloop.com/blog/installing-nodejs-and-npm-python-virtualenv/

Amirite?

[2016-12-04 14:51] jstoebel commented on #247
now that we've switched to Node the above isn't an issue any more. Unless anyone objects I would like to forge ahead with this. I also imagine special tests would want to be crafted as well.

[2016-12-05 02:41] freakboy3742 commented on #390
Ooh - yes. And possibly even better, @elbaschid's [virtual-node](https://github.com/elbaschid/virtual-node) - a pip installable node.js.

[2016-12-05 02:42] freakboy3742 commented on #390
(although from the look of it, that project might need an update...)

[2016-12-06 17:53] elbaschid commented on #390
Haha, that's very true. I haven't used it myself for a while and since I'm mostly Python 3 now, it [doesn't really work anymore](https://github.com/elbaschid/virtual-node/issues/9) 😢 . But I'm happy to push an update if that is just a version bump of node or something.

[2016-12-22 21:40] jstoebel opened #399 "strings like "3.000" are truncated to "3.0""
I am working on the `_substitute` function for string formatting. In several places I need to pad a string with an arbitrary number of zeros. For example:

[code]

If I run the above in the test suite, the string `"5.0"` is printed to the screen. If I make my own script to hit the same code the string `"5.000000"` is printed. Is there something I am misunderstanding? Is webpack "helping" with stri

[2016-12-25 00:08] shaib commented on #390
I've been using [nodeenv](https://pypi.python.org/pypi/nodeenv) successfully. Although its docs say "python 2.6 or 2.7", it does support Python 3. nodeenv is itself pip-installable, and then you can use it to install node into the virtualenv using `nodeenv -p`.

Looking at virtual-node, it mentions nodeenv as a source which it adapted -- except it seems that nodeenv has advanced significantly sinc

[2016-12-27 13:19] jwpfox commented on #47
I think the new link for this ([#47 (comment)](https://github.com/pybee/batavia/issues/47#issuecomment-230678203)) is [here](https://github.com/pybee/batavia/tree/master/batavia/builtins). Appears to have been moved in the last month or so.

[2016-12-30 14:06] jstoebel commented on #399
The problem is in `tests/utils.py` in the function `cleanse_javascript`:

[code]
Here, string representations of floats are converted to floats and then back to their string representations, effectively losing extra decimal places. My initial guess is that converting to `Decimal` rather than `float` will preserve these decimals but I have not run the tests yet.

[2016-12-30 23:41] jstoebel opened #405 "cleanse_javascript doesn't always know how to handle input"
the function `cleanse_javascript` in `test/utils.py` performs several transformations on output javascript during tests. Some of them are:

- dropping the additional zeros from a decimal (`3.000` -> `3.0`)
- Normalize true and false to True and False (`true` -> `True`)
- Replace large integers in a complex number with floating point.

The issue arises when we try to print strings like `'3.000'` or

[2016-12-31 01:08] jstoebel commented on #399
closing in lieu of [issue 405](https://github.com/pybee/batavia/issues/405)

[2016-12-31 01:08] #399 closed

[2016-12-31 01:53] freakboy3742 commented on #405
Agreed that what you describe is a problem. Universally applying the full set of transformations is potentially risky, for the reasons you've described.

There is a *partial* solution already in place - it's possible to define the list of transformations that will be used on a per-test class basis. However, the list of "base" transforms (like the ones you've pointed out) is constant.

On suggestio

[2016-12-31 02:17] jstoebel commented on #405
this sounds good. I'll give this a shot.

[2016-12-31 12:56] jstoebel commented on #405
I'm a little confused on how to use decorators in this way. If I'm understanding this correctly, I would need a decorator that when applied, modifies `self.fix_boolean_repr` and `self.fix_trailing_zeros` How is that done? Or am I approaching this wrong?

[2017-01-01 14:58] freakboy3742 commented on #405
The decorator doesn't *have* to modify `self.fix_boolean_repr`et al; it just needs to modify the value that is used as part of the conversion process. You *could* do this by saving the global value, setting the local value, running the test, and then restoring the global value; but it could get fiddly to ensure that the changes you make are always unrolled in the case of errors.

Your suggested ap

[2017-01-01 23:10] jstoebel commented on #405
great, so is this is the general idea?

[code]

And then in a test case:

[code]
And finally `assertCodeExecution` is modified to use `cleanse_obj` to perform the JS cleanse

Is that the general idea or am I missing something?

[2017-01-02 11:24] jstoebel commented on #405
The part I am confused about is how a decorator figures into all of this. Could you show me an example of how this would be used?

[2017-01-19 14:36] parvmor commented on #275
Hey! I am a first timer and want to contribute towards this project. So, could you explain a little bit more about this issue?

[2017-01-24 12:26] hir3npatel opened #410 "Any plan for html module?"
batavia's main use case is web apps, and the barebones of web apps involve widgets, ajax calling for data, manipulation of the DOM. Brython makes this easier with an html module, allowing html element creation, and manipulation. It also provides modules for json and ajax (things I could consider essentials). Are there any plans to have such a module in batavia for DOM manipulation, ajax and things

[2017-01-25 01:54] freakboy3742 commented on #410
Hi @hir3npatel - this capability already exists. `dom` is available as a builtin symbol, reflecting the root browser object context. So, for example, you can run the following code:
[code]

That gives you access to all the DOM, and any Javascript symbols that are available there.

In the longer term (hopefully not *that* long, though), we're going to port the asyncio and httplib libraries so that

[2017-01-27 15:15] jstoebel commented on #405
closed by [pr391](https://github.com/pybee/batavia/pull/391)

[2017-01-27 15:15] #405 closed

[2017-01-27 15:16] jstoebel commented on #342
following up. Has this been resolved?

[2017-01-27 15:17] jstoebel opened #412 "handle key word args for str.__mod__"
`str.__mod__` has been partially implemented (old string formatting) but can't yet accept key word arguments. I will get started on this.

[2017-01-28 06:49] freakboy3742 commented on #275
Hi @parvmor - Batavia consists of two parts:
1) the core language interpreter
2) the Python standard library.

Much of the Python standard library doesn't have to be re-written - we can just use the code from CPython itself. This is because much of CPython's standard library is written in Python. The pure Python implementation of the CPython standard library is contained in the Ouroboros project.

[2017-01-28 08:00] freakboy3742 opened #414 "Investigate generating ASM.js/WASM directly from Python AST"
The current approach used by Batavia is to generate Python bytecode, and implement a Python bytecode machine in Javascript, and then run the bytecode through that virtual machine.

However, taking the lead from VOC, it may be possible to use ASM.js/WASM and generate directly to ASM.js. ASM.js is a stack based machine that is an subset of Javascript that is known to run fast; WASM is a pre-parsed v

[2017-01-28 08:03] freakboy3742 opened #415 "Reimplement core bytecode in ASM.js"
The current bytecode engine works, but is not especially fast. One option for improving performance would be to re-implement the core bytecode interpreter in ASM.js - a subset of javascript that is known to run fast.

It isn't clear if the easiest way to implement this would be:
* a by-hand creation of a bytecode engine
* converting a C version of a bytecode engine using emscripten
* converting a

[2017-01-28 16:53] mrPain89 commented on #275
Hi @freakboy3742 , I'd like to contribute on this issue. My question is : would this be helpful to add an argument to compile_stdlib that lists available modules so the end user doesn't have to crawl through the paths to see what's in ouroboros module folder.

2nd question is : In ouroboros module folder there is also folders (like `urllib`), we should be able to include libs that are in these sub

[2017-01-30 02:06] freakboy3742 commented on #275
@mrPain89 yes - an argument to list the available options sounds like it would be helpful.

As for submodules; yes - submodules should also be included. The code you reference is almost certainly an oversight, based on the fact that the modules that have been explicitly supported so far are all shallow (I think?). If the UI allowed you to specify the top level module, which then automatically incl

[2017-01-30 08:58] danisharsalan commented on #46
working on test_noargs

[2017-02-08 18:17] parvmor commented on #275
I have added the functionality to include the submodules.

[2017-02-18 13:01] OndrejVicar commented on #46
I will try do some work on `dict` binary operations.

[2017-02-19 20:54] treyhunner opened #427 "Enforce code style for JavaScript files"
I was looking at the code in `batavia/types/Tuple.js` and noticed there's a mix of tabs and spaces in that file. I went looking for a code style guide for the JavaScript files and didn't notice one (I may not have looked hard enough though).

I usually use `.editorconfig` files to dictate my indentation style for various types of files because my text editor always seems to disagree with the autho

[2017-02-19 21:19] rlconley opened #429 "Get 404 when loading styles"
I got 404 errors when the styles were loading on the homepage.

[2017-02-19 21:38] glasnt commented on #429
Resolved in #428

[2017-02-19 21:38] #429 closed

[2017-02-19 23:19] freakboy3742 commented on #427
Yes to the overall goal. The intention is to enforce PEP8/eslint and other code style guides as a rebuild check, using pybee/beefore; the issue has been finding a way to deploy it. However, even in the interim, having a linting configuration defined and enforced would be desirable. If and EditorConfig definition can supplement this, all the better.

[2017-02-20 03:36] treyhunner commented on #427
I'd say an EditorConfig definition does supplement this goal because EditorConfig is expressly meant to enforce code style within text editors automatically (avoiding linting errors before they happen) whereas ESLint catches errors after they've occur and it focuses on a larger and more specific variety of errors (because it's JavaScript-aware and JavaScript-specific).

Django, jQuery, Angular, an

[2017-02-22 21:23] #427 closed

[2017-02-25 00:13] iamsidshetty opened #436 "Fix "guide for first time contributors" link under Contributing section of README.rst"
The link redirects to **404: Page not found**.

[2017-02-25 00:19] iamsidshetty commented on #436
@freakboy3742 I can fix it I think.

[2017-02-25 15:39] thatandromeda commented on #46
Working on `tests.datatypes.test_str.StrTest.test_startswith_multiple_args`.

[2017-02-25 16:35] thatandromeda commented on #46
The above work also handled `tests.datatypes.test_str.StrTest.test_startswith_no_args`.

Now also working on `tests.datatypes.test_str.StrTest.test_startswith_tuple`.

[2017-02-25 17:23] graph1994 commented on #46
Working on tests.datatypes.test_int..InplaceIntOperationTests.test_power_floats

[2017-02-25 18:48] thatandromeda commented on #46
Now on `tests.datatypes.test_dict.DictTests.test_setattr`.

[2017-02-26 23:05] glasnt commented on #436
Resovled in #437

[2017-02-26 23:05] #436 closed

[2017-02-27 05:14] matthewphillips commented on #46
Working on `test_isupper`

[2017-02-27 05:37] matthewphillips commented on #47
Hi.  First time contributor.  I was looking for a function to work on implementing, but the previous link provided by @freakboy3742 no longer exists.  Is there a list of functions currently up for grabs?

[2017-02-28 16:10] Sanjeev-S opened #452 "Problem while running sample.py in Batavia testbed"
**How to replicate the error**

Pull the latest branch and setup the project following the basic tutorial.
https://batavia.readthedocs.io/en/latest/intro/tutorial-0.html
https://batavia.readthedocs.io/en/latest/intro/tutorial-1.html

_Now launch localhost and run sample.py._ The console output ends with:

[code]

For reference:
https://drive.google.com/file/d/0B9j9MJrQhCt2STJYOVJlVHIzRmc/view?usp=

[2017-02-28 22:36] freakboy3742 commented on #452
This is expected behavior; the error is thrown to check that error handling works. If you look at the code, it's the result of invoking `abs(None)`. However, I agree that it is surprising; the example should be modified so it either doesn't throw an error, or the error is caught.

[2017-03-01 00:29] freakboy3742 commented on #47
@matthewphillips The builtins are no longer in a single file; [this directory](https://github.com/pybee/batavia/tree/master/batavia/builtins) contains all the builtins. If you search the files in that directory for "throw new exceptions.NotImplementedError" you'll get the list of stuff that is outstanding.

[2017-03-05 11:46] satyam1729 opened #455 "AttributeError: 'module' object has no attribute 'utc' while running ./manage.py runserver"
This issue was noted on starting test server on virtualenv on ubuntu 14.04.
The terminal msgt was
in .......lib/python3.4/site-packages/django/utils/timezone.py", line 153, in <module>
    utc = pytz.utc if pytz else UTC()
AttributeError: 'module' object has no attribute 'utc'

A similar issue exists on http://stackoverflow.com/questions/26710994/django-asked-me-to-install-pytz-and-now-my-models-w

[2017-03-05 11:48] satyam1729 commented on #455
was solved by adding pytz to requirements.txt

[2017-03-05 11:52] satyam1729 commented on #455
have created a PR #456

[2017-03-09 07:57] kunparekh18 commented on #46
Working on ```tests.datatypes.test_bool.BinaryBoolOperationTests.test_add_complex``` and ```tests.datatypes.test_bool.BinaryBoolOperationTests.test_subtract_complex``` .

[2017-03-12 18:39] thatandromeda commented on #46
Working on `tests.datatypes.test_frozenset`.

[2017-03-14 15:42] thatandromeda commented on #46
Working on `tests.datatypes.test_complex.BinaryComplexOperationTests`.

[2017-03-14 19:15] thatandromeda commented on #46
OK, done with `tests.datatypes.test_complex.BinaryComplexOperationTests` for now - the remainder are up for grabs.

[2017-03-15 21:35] thatandromeda commented on #46
@EGJ1996 Hi, and thanks for being here! Here's a guide to your first batavia contribution: http://pybee.org/contributing/how/first-time/what/batavia/

[2017-03-15 21:41] EGJ1996 commented on #46
Thank you!

[2017-03-15 21:41] EGJ1996 commented on #46
@thatandromeda  Thank you!

[2017-03-15 22:21] memo330179 commented on #46
I will be working on dict.__len__()

[2017-03-15 22:27] EGJ1996 commented on #46
I will be working on the power of complex.pow()

[2017-03-16 01:42] thatandromeda commented on #46
@EGJ1996 : note that I have an open PR about that, which deals with many but not all types. The CI found some failing tests that I haven't had a chance to fix yet (outside of the tests that I directly affected with my work), but it does address powers of all types except the interesting ones (float, int, complex). I left those aside because I was thinking that pulling in an actual JS complex math

[2017-03-16 13:51] EGJ1996 commented on #46
@thatandromeda  I will try to do my best. For the moment, my time is a bit limited because I have exams. I was looking at the integer type implementation and I was trying to find the definition for the following functions: mul,gt,mod etc, but I couldn't find them. Do you know where are these functions implemented?

[2017-03-16 17:58] thatandromeda commented on #46
@EGJ1996 They may well not be implemented! If they're not in batavia/types/[appropriate type], maybe no one's written them yet :)

BTW there is also a chat room at https://gitter.im/pybee/general/ which is better for questions/conversation.

[2017-03-17 17:54] bitdumper1 commented on #46
I am working on swapcase() for string

[2017-03-18 02:47] EGJ1996 commented on #46
@thatandromeda  I finished the function for raising a complex number to integer, float, boolean and complex powers. Should I include any other case? How can I test it?

[2017-03-18 13:48] thatandromeda commented on #46
@EGJ1996 The gitter channel is really a better place for this sort of extended conversation. I'm going to be out all day, but there's usually lots of people in channel so hopefully they can help :)

[2017-03-18 16:00] Pujolsluis commented on #46
Working on
'test_None'
in test_round.py

[2017-03-18 17:42] oldani commented on #46
Working on:
'test_add_set' in test_list.

[2017-03-18 20:51] abonie commented on #46
Hi all,
I am currently working on `test_next.py`

[2017-03-19 00:18] abonie opened #467 "Inconsistencies in __next__ method for certain types"
Hello all,

I am currently working on implementation of `next` function from `__builtin__` module (https://github.com/abonie/batavia/commit/e7cff009bf0c83e2ad260af969d60c26675f7a80 it's for my 1st contribution before applying for GSoC).

I have noticed that certain types, like `set` or `int` have `__next__` method, which is inconsistent with standard CPython implementation. What is worse, `set`'s

[2017-03-19 02:11] freakboy3742 commented on #467
With *very* few exceptions, any way you can demonstrate that the public API for CPython differs from Batavia is a bug. In this case, you've definitely found a problem.

Batavia is in a period of rapid development, so it's easy for this sort of inconsistency to drift in. There's been lots of copy-and-paste-and-rename engineering, and that won't always result in completely accurate results.

There i

[2017-03-19 02:12] freakboy3742 commented on #455
Resolved in 128996d

[2017-03-19 02:12] #455 closed

[2017-03-19 02:14] freakboy3742 commented on #412
I'm going to close this as a duplicate of #46 - there's no need to document each individual unimplemented feature.

[2017-03-19 02:14] #412 closed

[2017-03-19 02:15] freakboy3742 commented on #388
Closing; I'm fairly certain this is now correct.

[2017-03-19 02:15] #388 closed

[2017-03-19 02:19] freakboy3742 commented on #381
property has now been implemented.

[2017-03-19 02:19] #381 closed

[2017-03-19 02:22] freakboy3742 commented on #376
This has now been resolved.

[2017-03-19 02:22] #376 closed

[2017-03-19 02:24] freakboy3742 commented on #342
I'm pretty sure this is now working - if it isn't, please let us know what timezone you're in (and whether DST is active).

[2017-03-19 02:24] #342 closed

[2017-03-19 12:02] abonie opened #468 "Different traceback format in runAsPython and runAsJavaScript"
In case of uncaught exception `runAsPython`'s traceback contains line which caused said exception, while runAsJavaScript does not. As a result some test cases that should raise an exception fail showing diff like this:
[code]
(this particular traceback comes from this test case https://github.com/abonie/batavia/blob/master/tests/builtins/test_next.py#L29 on my fork, once you remove `@expectedFailu

[2017-03-19 22:53] abonie commented on #467
All right, thanks for your answer. I don't think I'll have time to get to the bottom of this soon, but for anyone taking on this bug:
So far I established that when `Set` calls `PyObject` constructor unexpectedly `StrIterator` appears on list of classes that are checked for method resolution order (this happens here, but I have no idea how https://github.com/pybee/batavia/blob/master/batavia/core/

[2017-03-20 22:48] abonie commented on #415
Hi,

I will gladly investigate this topic and consider writing a proposal for GSoC.
In this context, since this is described as big project, what would you say to be an appropriate goal to set? Would a PoC be enough? I just want to get a sense of what expectations you guys might have at this point, obviously will do research of my own and get better idea of what is doable for me.

On this note, ch

[2017-03-21 03:47] morrme commented on #452
so is the fix for the issue now just a change in the sample file?

[2017-03-21 11:35] freakboy3742 commented on #452
@morrme Correct - the sample.py file should be modified so that it catches the error and prints an appropriate response.

[2017-03-21 11:41] freakboy3742 commented on #415
I'd expect a bit more than *just* a POC - but I certainly wouldn't expect the result to be "production ready" or anything like that. It would definitely need to be enough to prove that the idea was viable, and worth spending more time on.

As for the "preferred" project - both would be equally welcome. That said, the bar for being accepted on this project would be much higher than that for impleme

[2017-03-21 11:57] morrme commented on #452
So you want to keep the abs(None) there but modify try_builtins() to catch the TypeError exception?

[2017-03-21 21:57] freakboy3742 commented on #452
Correct.

[2017-03-21 23:36] morrme commented on #452
I looked at other code in the project to come up with a consistent error message, but it's up to you:

[code]

[2017-03-22 03:05] oopsno commented on #46
Working on `test_slice_tuple` in `test_slice.py`

[2017-03-23 14:57] morrme commented on #452
@freakboy3742 by the way, should my work in progress be posted here (as above) or would you prefer in an ongoing PR?

[2017-03-23 15:34] ioo11 opened #472 "GSoC: Datetime and JSON modules for Batavia"
# The Project

In addition to existing modules (dis, dom, inspect, marshal, math, sys, time) I would like to write datetime and JSON. Batavia allows you to run Python code in your browser, so I think these ones will be the most useful among other modules from Python standard library that have not been implemented yet.

## JSON

Json is one of the most used data interchange format, therefore implem

[2017-03-23 22:59] freakboy3742 commented on #452
@morrme A PR will be much more helpful.

[2017-03-23 23:15] freakboy3742 commented on #472
Hi @ioo11,

Thanks for submitting a proposal. This is a good start; here's some feedback:

* You say that datetime is implemented in Python, but the work description of suggests you're going to re-implement all the classes in Javascript. Why not use the existing implementation?

* This estimate has all the signs of someone who has worked out what they want to do, and split the work into 12 parts a

[2017-03-23 23:38] morrme commented on #452
@freakboy3742 OK.

As I move this to the PR, may I ask if you have a convention for your error messages, or a suggestion for this one? I used this one based on other code in the repo.

[2017-03-24 01:39] freakboy3742 commented on #452
@morrme This is sample code. It just needs to run, and produce output that makes some sort of sense. The text of the error message doesn't actually matter that much. As long as it's understandable that it's a completely expected error, that's fine.

[2017-03-24 18:02] DanielKim1 opened #474 "Broken link in docs/intro/tutorial-0.rst"
batavia/docs/intro/tutorial-0.rst
https://batavia.readthedocs.io/en/latest/intro/tutorial-0.html

The "on our Environment setup guide" link leads to http://pybee.org/contributing/first-time/setup/ which does not exist.
Instead, it should lead to http://pybee.org/contributing/how/first-time/setup/

[2017-03-24 18:40] #474 closed

[2017-03-24 20:48] EGJ1996 commented on #46
@thatandromeda  Hello! When I do some changes in the Batavia source code and I rebuild the project, the changes are not save when I run batavia. Should I do anything else before running the project so that local changes are reflected in Batavia?

[2017-03-24 21:16] EGJ1996 commented on #46
@thatandromeda  Never mind. I just read that the code will be compiled on the server side

[2017-03-25 19:56] dibyadas commented on #71
Now that VOC uses AST to do it, do you think this is issue is relevant any more?

[2017-03-27 04:14] ethanhs commented on #415
People have gotten CPython to compile to asm.js (see https://github.com/jallwine/emscripten_test/wiki/Compiling-python-with-emscripten for an example). There is also [PyPyJS](https://github.com/pypyjs/pypyjs), which instead of jitting Python to machine code, jits to asm.js. An update to use webassembly might be interesting.

[2017-03-27 04:22] freakboy3742 commented on #415
I'm well aware of both of those projects; getting either to web assembly should be no more than a compiler flag.

However, they also carry a lot of overhead in their use. You end up moving the full compiler and interpreter toolchain - which isn't a small chunk of code. And, if you're just using Python to implement in-browser logic, you don't need a full REPL.

So - the proposal for this ticket is

[2017-03-27 04:39] ethanhs commented on #415
I expected you would be, just wanted to share prior art for others 😃 I too am interested in submitting to work on this for the GSOC, but I don't want to step on the toes of @abonie. I was thinking something based on CPython's bytecode engine (since it is the reference implementation), and I would write in C++ so one could use ASM.JS or WASM (based on how you want to compile, and what your browser

[2017-03-27 05:14] freakboy3742 commented on #415
Sure - understood.

I'm less bullish on emscripten and compiling C because it carries a lot of overhead; IIRC, "hello world" is something like 100k.

I'm actually much more interested in the approach described by #414 - that would target ASM.js/WASM directly, which VOC has shown can be quite viable as an approach.

[2017-03-27 12:18] Sanjeev-S opened #477 "GSOC 2017: Update Batavia internals documentation, Complete implementation of float, bool, range, complex datatypes and Load a basic re module."
# Task:

Update missing Batavia internals documentation. Complete the implementation of builtin types - float, bool, range and complex. Finally load a basic re module.

# Success:
Detailed documentation regarding all of batavia internals.
100% implementation of float, bool, range and complex.
Loading a basic regular expression library(100%) from Python 2.4 and documenting and writing tests for all

[2017-03-27 20:28] abonie commented on #415
@ethans Don't worry about stepping on my toes. I think it is only fair that everyone gets a shot. Also I am not going to submit a proposal for this particular issue anyway ;)

[2017-03-28 02:33] freakboy3742 commented on #477
This is a good start. It's especially helpful that you've identified a pure-python implementation of the sre module; and the summary of historical conversations is also very useful.

My questions:
* Yes, there's only 2 methods left on complex. Have you investigated *why* they're the only two left?

* A pure python implementation of regex is one way to provide this functionality -the other would be

[2017-03-28 16:37] Sanjeev-S commented on #477
I really appreciate your feedback.

You mentioned that you get the impression that I decided what I wanted to do and then split it up. In a way that is correct. I decided that I wanted to work on some basic data types, summary about historical conversations(so that effort need not be replicated) and the re module. When I started thinking about how much time it would take, it came to about 11 weeks

[2017-03-30 15:12] memo330179 opened #478 "GSOC: str, int, dict, sets, range and eval"
# Introduction

Completion of a project is important. In order for the product to be useful, it must provide a complete set of tools to work with. As it stands, Batavia has an extensive library of data structures and data types that make up the Python programming language. However, it also has many functions missing from those data types, as well as, some functions that are not behaving in the way

[2017-03-30 19:45] abonie commented on #468
Hi @bhardwajaditya113,
this topic is meant for discussing this one particular issue only.
I suggest reading this: http://pybee.org/contributing/how/first-time/what/batavia/ and posting any further questions here: https://gitter.im/pybee/general.

[2017-04-01 14:46] abonie commented on #468
Possibly related to this issue, if second exception is raised while handling previous exception, e.g.:
[code]
Batavia will lose / suppress information about the first exception (same behaviour occurs if second exception is thrown this way: `raise Exception('2') from err`)

[2017-04-01 18:14] EGJ1996 commented on #46
I am done with the powers of complex numbers

[2017-04-01 22:17] lucantrop opened #482 "GSOC 2017 - io module"
It's probably way too late for this, but I'd appreciate any feedback :smile:

## Project Idea
This project would involve implementing the `io` module in Batavia.
This can be achieved by compiling `io` from Ouroboros. That is currently
blocked by a few other pieces of the standard library and the `with` statement
and metaclass support, as well as a few datatypes that are currently not
implemented.

[2017-04-01 23:52] abonie opened #483 "GSoC: JSON module, generators and context managers"
Intro
===
For my GSoC project I would like to fulfill a few tasks, that include finishing up some of the partially implemented data types, implementing modules from Python standard library that are not yet present in Batavia and providing support for some of the language constructs.
I will present my proposed schedule broken down into 3 phases, each roughly a month long. Each task will be describe

[2017-04-02 22:29] EGJ1996 opened #486 "GSOC 2017: Implementation of ‘random and ‘re’. Complete implementation of float, bool and int"
# Implementation of ‘random and ‘re’. Complete the implementation of float, bool and int
### 02.04.2017
─
## About me:
I am Emiljano Gjiriti, a third year student majoring in computer science and mathematics at the American University in Bulgaria.. These days, I have tried to contribute to the project to get an idea of this initiative and this experience has further strengthened my positive opinio

[2017-04-04 18:54] alexcondrea commented on #294
Anyone still working on this? Would like to contribute.

[2017-04-06 07:43] PatSousa commented on #46
Hello ! For a first contribution I will work on `test_subscr_slice`.

[2017-04-06 11:51] Llandy3d commented on #46
hey, I will be working on `test_getitem`

[2017-04-06 12:47] martharotter commented on #46
Working on test_kwargs_missing_key in test_str as a first contribution

[2017-04-06 15:42] PatSousa commented on #46
I will be taking the tuple inplace multiply __imul__

[2017-04-09 09:29] timb07 opened #507 "Docs: "Inside the button" example in tutorial 1 doesn't work"
The name of the output element ID has changed from "stdout" to "pyconsole", but that change isn't reflected in the tutorial text.

Bug found by Jacob Rief.

[2017-04-13 02:37] memo330179 commented on #478
I missed the GSOC window, but I would like to continue this on my own time.

[2017-04-13 02:39] memo330179 commented on #46
I will be working on the `.format()` function of `str`

[2017-04-17 15:48] kartikadur commented on #46
I am relatively new to this repo, do forgive my ignorance. Is there a collated list of functions mentioned here by contributers against (if available) functions that have been completed and (if available) functions there are still to be done? I realize this can be done by checking individual test files. I was wondering if there was like a readme file that contained such a list for easy access. If

[2017-04-18 11:46] #467 closed

[2017-04-18 11:46] #507 closed

[2017-04-19 07:13] kartikadur opened #510 "Babel-preset-latest deprecation warning"
Hi,

During the step to install webpack and other JS dependencies I got a console message:

I assume this was a warning as it was displayed as white font (and not red as is done with errors). I checked the babel website and it mentions that `presets = ["latest"]` is deprecated, and that `presets = ["env"]` should be used instead.

The only place I'd have to make that change is in 'package.json' si

[2017-04-19 11:53] freakboy3742 commented on #510
In short - any change is allowed, as long as the test suite keeps working, and you can make the case for why the change is needed. Sometimes - like this time - it's easy to make the case: there's an error message, and there shouldn't be :-)

I had seen the error, but I hadn't started investigating whether the proposed fix will work. If you make this change, the test suite still passes, and you can

[2017-04-19 13:14] kartikadur commented on #510
Thanks, I will get right on it.

[2017-05-13 14:12] pranair opened #515 "Broken documentation link"
The link for the project [internals](http://batavia.readthedocs.io/en/latest/internals/index.html) is broken.

[2017-05-13 22:57] krtk6160 commented on #46
I am working on len() for float.

[2017-05-16 07:37] kartikadur commented on #46
working on:

file: Bytes.js + test_bytes.py

functions/tests:
- 'test_add_bool',
- 'test_add_float',
- 'test_add_int',
- 'test_add_list',
- 'test_add_set',
- 'test_add_str',
- 'test_add_tuple',

[2017-05-22 15:33] freakboy3742 commented on #477
Unfortunately, this project was not accepted for GSoC 2017

[2017-05-22 15:33] #477 closed

[2017-05-22 15:33] freakboy3742 commented on #472
Unfortunately, this project was not accepted for GSoC 2017.

[2017-05-22 15:33] #472 closed

[2017-05-22 19:02] ilankham opened #520 "Batavia testserver appears to be broken in Safari 9.1.3"
Here's the output I saw in the Console:

[code]

[2017-05-22 20:15] lschumm commented on #520
@ilankham Please provide more information on your issue. I've run it in Safari, and have not had a similar issue. Are you sure you've followed all the instructions verbatim?

[2017-05-22 21:13] ilankham commented on #520
After following http://batavia.readthedocs.io/en/latest/intro/tutorial-0.html to download and build Batavia, I was able to run the testserver using Django version 1.10 and execute Python code in Chrome 58.0.3029.110.

However, the above error occurred when accessing the testserver in Safari 9.1.3 and attempting to execute the Python code `print("Hello, World")`. In addition, no console output was

[2017-05-22 21:17] lschumm commented on #520
Ah, I didn't read your Safari version. Safari 9 doesn't support the `.slice()` method; code should be changed to implement a workaround. Similar issue: https://github.com/crocodilertc/crocodile-rtc/issues/15.

[2017-05-22 23:24] ilankham commented on #520
This issue has been addressed in pull request #527

[2017-05-23 09:20] kartikadur commented on #46
files: Bytes.js + test_bytes.py

binary operation multiply
- [ ] 'test_mul_bool',
- [ ] 'test_mul_int',

binary operation subtract
- [ ] 'test_substract_bool',
- [ ] 'test_subtract_bytes'
- [ ] 'test_subtract_float',
- [ ] 'test_subtract_int',
- [ ] 'test_subtract_list',
- [ ] 'test_subtract_set',
- [ ] 'test_subtract_str',
- [ ] 'test_subtract_tuple',
- [ ] 'test_subtract_dict'

binary operation

[2017-05-23 19:25] cjrh commented on #181
Some exploration for 3.6:

[code]

[2017-05-23 21:38] cjrh commented on #181
There are a bunch of new opcodes, so I'm adding these to `batavia/batavia/modules/dis.js`.  I'll also add (empty to start) implementations in `batavia/batavia/VirtualMachine.js`.

[2017-05-24 14:07] kartikadur commented on #46
files: Bytes.js + test_bytes.py

binary operation logical-and
- [ ]  'test_and_bool',
- [ ]  'test_and_bytes'
- [ ]  'test_and_float',
- [ ]  'test_and_int',
- [ ]  'test_and_list',
- [ ]  'test_and_None',
- [ ]  'test_and_set',
- [ ]  'test_and_str',
- [ ]  'test_and_tuple',
- [ ]  'test_and_dict'

binary operation logical-or
- [ ]  'test_or_bool',
- [ ]  'test_or_bytes'
- [ ]  'test_or_float',
-

[2017-05-24 16:49] Nurdok commented on #452
@freakboy3742 should this issue be closed?

[2017-05-24 17:18] lschumm opened #537 "Implement basic filesystem"
This would involve implementing
- File object
- open() -> File

[2017-05-24 17:20] lschumm commented on #537
Uses jessetane/localstorage-fs to use JS LocalStorage (so is supported on all browsers) to implement a POSIX-style filesystem.

Currently fully completed are:
-
-

[2017-05-24 18:22] li3n3 commented on #515
Where is this linked from?

[2017-05-24 22:58] olemis opened #542 "Batavia VM loader implementing the Python import machinery"
The current Batavia loader finds (in the DOM) the script element with the ID matching the fully qualified name of the target module . The [Python machinery logic](https://docs.python.org/3/library/importlib.html?highlight=import%20machinery#module-importlib.machinery) should be implemented instead .

[2017-05-25 00:27] cjrh commented on #181
I've implemented the `BUILD_CONST_KEY_MAP` javasscript code (in the virtual machine) for Python 3.6 bytecode, in PR #536.  However, due to the wordcode change, there is still a lot of other things that are not working.

[2017-05-25 00:29] cjrh commented on #71
I've begun implementation of 16-bit wordcode in PR #536. The changes are wound up in also trying to get dicts to work for 3.6.1. Unfortunately, both the 16-bit wordcode change as well as the _new_ opcode changes (like the new dict support) have to be done at the same time.

[2017-05-25 16:58] cjrh commented on #181
Note that in PR #536, this snippet:

[code]

Now does actually work in the Batavia testbed "run python in the browser".  However, more work needs to be done in #536, particularly making the tests pass.

[2017-05-25 17:00] cjrh commented on #71
I've begun the process of using the 16-bit wordcode format in PR #536.

[2017-05-25 21:53] ilankham commented on #520
The testserver now appears to work as expected in Safari 9, so this issue is being closed.

[2017-05-25 21:53] #520 closed

[2017-05-26 17:22] pranair commented on #515
@li3n3 [README.rst](https://github.com/pybee/batavia/edit/master/README.rst) line number 125

[2017-05-27 22:43] jstoebel commented on #247
closed by #391 and #419

[2017-05-27 22:43] #247 closed

[2017-05-28 20:06] jstoebel opened #554 "implement .format"
Forgive me if this is not the right channel to communicate this: I would like to implement `str.format`. To my knowledge no one else is working on this but if I am mistaken please let me know

[2017-05-29 08:42] #482 closed

[2017-05-31 08:19] freakboy3742 commented on #483
This project was selected as part of the 2017 GSoC.

[2017-05-31 08:19] freakboy3742 commented on #486
Unfortunately, this project was not selected for the 2017 GSoC.

[2017-05-31 08:19] #486 closed

[2017-05-31 08:20] freakboy3742 commented on #478
Unfortunately, this project was not selected for the 2017 GSoC.

If you wish to continue on any parts of this project, feel free; however, it doesn't need to be associated with this GSoC planning ticket.

[2017-05-31 08:20] #478 closed

[2017-05-31 19:45] jstoebel opened #561 "Fix recursion in NotImplementedToExpectedFailure.run"
this is (hopefully) a similar fix as [this one](https://github.com/pybee/voc/pull/541) in VOC.

[2017-06-02 02:44] morrme commented on #515
doesn't seem to be a corresponding article anywhere in the current docs

[2017-06-06 14:05] jstoebel commented on #561
closed by PR #562

[2017-06-06 14:05] #561 closed

[2017-06-06 14:09] jstoebel opened #564 "access kwargs in non builtin functions"
In non builtin functions, key word arguments are not accessible.

To reproduce:

 - add a method to a datatype. For example:

[code]

when you try running `print('hello {planet}'.format(planet='world'))` in the testbed, the result is `None`. If you add `console.log(arguments)` there are zero arguments.

PS: I hope I'm not a bother by adding this ticket as well as asking in Gitter. As there was not

[2017-06-06 22:20] freakboy3742 commented on #564
@jstoebel No bother at all - opening a ticket if you don't get a response on Gitter is an entirely reasonable response.

I can't offer any obvious answer why this is failing; If I had to guess, it's likely because the invocation is "keywords only" -  invoking ``format(x=123)`` is a different opcode to ``format(123)``, and the former isn't used as often. If you want to go digging, the opcode implem

[2017-06-07 00:07] abonie commented on #483
Week 1 status update:
So I have already dealt with lists and __most__ of dict stuff, see https://github.com/pybee/batavia/pull/518 and https://github.com/pybee/batavia/pull/560 and am currently working on json encoding.

I was under impression, that I could easily get JSON.stringify to do the heavy lifting, unfortunately I realize now that is not the case, and since I am adjusting the approach, I

[2017-06-10 11:28] abonie commented on #564
@jstoebel does this line:
[code]
 fix your problem?

[2017-06-11 00:54] jstoebel commented on #564
@abonie thanks for your reply. I'm confused, how should I implement this method to have access to `kwargs`?

[2017-06-11 08:02] abonie commented on #564
@jstoebel so I just checked and if you add this line after your method definition it should make it so that it uses Batavia calling convention, e.g.
[code]
kwargs in this case will be a JSDict object containing keyword arguments, your example: `print('hello {planet}'.format(planet='world'))` will print `{'planet': 'world'}`.

Now, if anyone could explain how to make kwargs work for class instantia

[2017-06-11 19:07] jstoebel commented on #564
Thanks! @freakboy3742 is this a satisfactory resolution to this issue?

[2017-06-12 16:08] jstoebel opened #570 "[discussion/question] construct dict with native object?"
I can create a `List` by passing in a native javascript array:

[code]

But to make a `Dict` its not as straightforward as far as I can tell:

[code]

Has there been any thought to making a `Dict` constructable by passing a native JavaScript object? Or is this a pandoras box we're better off not opening? What if, for example a nested object is passed in?

If we don't want to change the implementat

[2017-06-12 19:29] abonie commented on #570
I have not used it yet, but there is a function in `batavia/types.js` called `js2py` that may do what you need judging by its name and code. Let me know if you decide to try it and it works well.

[2017-06-13 23:42] abonie commented on #483
Week 2:
I have tracked what I thought was a bug in my code (mentioned last week) but turned out to be just some unexpected output cleansing and fixed it along with few bugs: https://github.com/pybee/batavia/pull/566

Then I spent quite some time trying to work out how to properly pass keyword arguments to a class constructor implemented in native code, e.g. for Python code `JSONEncoder(foo=4, bar=

[2017-06-18 10:08] abonie opened #574 "[BUG] Raising exception inside for loop"
I stumbled upon a bug. Run in testbed, this code:
[code]
results in:
[code]
which clearly is not what should happen.
I don't have time atm to try and deal with this, it is not blocking me, but I think it is an important use case, so I am just putting it out there. Up for grabs.

[2017-06-19 04:11] jarnugirdhar opened #575 "Error while running $ python compile_stdlib.py"
While following http://batavia.readthedocs.io/en/latest/intro/tutorial-0.html this tutorial, in Troubleshooting Tips it is mentioned to run $ python compile_stdlib.py command in order to remove error which occur during $ npm run build. But the following "Syntax error" occurred when I ran $python compile_stdlib.py

Although after this I ran $ npm run build it ran successfully, but still why the err

[2017-06-19 04:17] glasnt commented on #575
Hi @jarnugirdhar. Can you please confirm what version of python you are using by running `python -V`

It looks like you might not be using Python 3. As per the tutorial, Batavia requires at least Python 3.4

[2017-06-19 04:23] jarnugirdhar commented on #575
`python -V` shows python 2.7.2, but I have installed latest python3.x which I can access using `python3` Do I need to do some alterations in system? (I am running Ubuntu 16.04 LTS)

[2017-06-19 04:27] glasnt commented on #575
In that case, run `python3 compile_stdlib.py`, and substitute `python3` where required.

[2017-06-19 04:34] jarnugirdhar commented on #575
Thanks, resolved.

[2017-06-19 04:39] #575 closed

[2017-06-20 22:50] abonie commented on #483
Week 3:
This week I have completed the encoding part of json module. PR is ready for review: https://github.com/pybee/batavia/pull/577.
As mentioned, I ended up NOT using JSON.stringify as heavily, which means that there is no reason not to implement `JSONEncoder.interencode` as a proper generator, except the lack of time. But also I will be working on generators next month, so it may be better to

[2017-06-21 15:01] all3fox opened #578 "Test suite fails for both python 3.5.3 and 3.4.4"
Hello, my OS is Archlinux, which uses the latest-and-greatest versions of its packages.

Since `batavia` requires specific python and node versions, I use:

1.  [`pyenv`][3] and its [`pyenv-virtualenv`][4] plugin to install specific `cpython` versions and then manage the virtual environments.

2. [`nvm`][5] to install and use specific versions of `node`

So, my `pyenv` is `1.0.10-64-g29436ff` and

[2017-06-22 12:41] abonie opened #579 "[Discussion][Enhancement] Argument handling in natively implemented Python functions (or classes)"
While working on native implementation of `json` module I came across few issues:

1) There is no way to implement Python class in JavaScript so that its constructor can take keyword arguments. It is possible for regular functions, but not that easy to figure out how to do it.

https://github.com/pybee/batavia/blob/master/batavia/core/native.js#L5 here is relevant piece of code from Batavia that w

[2017-06-26 14:41] jstoebel opened #580 "js2py fails when converting native object"
when feeding a native javascript object into `types.js2py` I get the error:
[code]

I think this is caused by this conditional: ` arg.__class__ !== null && arg.__class__.__name__` In a native object, the first conditional will pass, but the second will throw an error because `arg.__class__` is `undefined` I'll look into this some more.

[2017-06-26 17:10] abonie commented on #580
I encountered same problem and fixed it on my branch by changing first conditional to simply `arg.__class__` instead of `arg.__class__ !== null`. I had to take a break from working on batavia recently, so I did not submit this change in a PR.

It would be great, if you could make sure that my fix is correct or come up with something more suitable and make a PR :)

[2017-06-26 18:48] jstoebel opened #581 "support for kwargs splat operator"
If I enter this expression into the test bed:
[code]
and then have the `format` method `console.log` the kwargs passed in, I get:

[code]

It looks like the `dict` isn't structured as expected.

[2017-06-27 17:30] robcarney commented on #46
I'm going to work on test_mul_bytes and test_mul_bytearray in test_complex.py

[2017-06-27 17:38] robcarney commented on #46
I'm going to work on test_mul_bytearray and test_mul for test_complex.py (in place and binary).

[2017-06-28 00:51] abonie commented on #483
Week 4:
As I mentioned, this week I had to suspend my activity in Batavia. Last week's PR is merged now, but no other progress has been made. My last exam is on Friday and after that I will start to catch up with my schedule -- Plan for next week is to do as much json decoding as possible.

[2017-06-28 21:34] robcarney commented on #47
Going to work on bytearray and bytes constructor overloads with int arguments.

[2017-07-02 18:19] jmsdvl opened #585 "cricket-unittest fails to load tests"
Attempting to run `cricket-unittest` in the project's root directory, as per the docs, bails immediately with the following:

[code]

[2017-07-04 22:44] agronauts commented on #385
Hello, I'd like to try doing this!

[2017-07-04 22:57] abonie commented on #483
Week 5:
This week I had less time than expected, but I managed to put together a functional implementation of `JSONDecoder`. As I realized, that some of the decoder's features like `parse_int`, `parse_float` or `object_pairs_hook` arguments cannot be implemented in a sensible way with `JSON.parse`, given limited time this week, I decided to provide something that can be used right away for less so

[2017-07-04 23:30] freakboy3742 commented on #385
@agronauts Dive right in! @whit537 made a start on this; I don't know if he's got any work sitting on his local machine that he hasn't committed to #514, but at the very least, you could take his code as a starting point.

[2017-07-05 09:15] agronauts commented on #385
Will get to it

[2017-07-06 08:17] AlexLloyd1 commented on #585
This has also been raised as [issue 39](https://github.com/pybee/cricket/issues/39) on Cricket. It isn't specific to Batavia so discussion should probably be confined to there.

[2017-07-10 02:35] agronauts commented on #574
I'll have a go at this!

[2017-07-10 02:45] agronauts commented on #574
What branch is this on? I am on the latest master branch and get this output instead:
[code]

[2017-07-10 11:29] abonie commented on #574
I just retried and got same error as before.
Pulled from upstream master, ran `npm run build` with Python 3.4.6, node v6.9.1

[2017-07-11 23:34] abonie commented on #483
Week 6:
I finished up https://github.com/pybee/batavia/pull/586 (it is ready for review now) and moved on to generators. Fixed number of issues so far but there is still at least one problem with `throw` method of generators I could not figure out yet. PR: https://github.com/pybee/batavia/pull/590

Also to sum up phase one:
Main goals have been achieved. Few complications arose when I realized `JS

[2017-07-18 22:26] abonie commented on #483
Week 7:
PR with fixes for various generator bugs and missing features is ready for review: https://github.com/pybee/batavia/pull/590

I looked into implementing `yield from`. It does not seem overly complicated, some initial work is on my fork: https://github.com/abonie/batavia/commit/9bc4dcc9c6734096433eca625d8f64c596dc0bd1 and I will follow up this week.

[2017-07-22 17:06] jstoebel commented on #554
closed by #555

[2017-07-22 17:06] #554 closed

[2017-07-22 17:07] jstoebel commented on #580
closed by #582

[2017-07-22 17:07] #580 closed

[2017-07-23 22:00] artyprog opened #593 "Operator overloading"
Hy All,

Thanks for Batavia.
Will operator overloading be doable ?

[code]

[code]

Regards

[2017-07-24 00:30] freakboy3742 commented on #593
It's entirely *doable* - Batavia evidently has a bug in this particular case. If you want to dig into why, that would be a very helpful contribution.

[2017-07-24 13:26] artyprog commented on #593
I am better at finding bugs than resolve them:-)

But I will try

Regards

[2017-07-25 22:22] abonie commented on #483
Week 8:
`yield from` is there as a PR: https://github.com/pybee/batavia/pull/592 and I have already started working on `with` statement: https://github.com/abonie/batavia/commits/with_statement.

I feel like it may be a good idea to add even more tests for generators, so I'll try to provide some if I get any extra time.

[2017-07-27 16:09] LMVogel commented on #367
Is this still open? Or should it be closed, based on commit

`67514d77b7d1dacdbe8a12f622ff2c310fb8d629?`

[2017-07-27 17:02] Utsal20 commented on #593
I believe you will need a decorator before def __add__ @artyprog

[2017-07-28 00:15] freakboy3742 commented on #367
@LMVogel Looks like you're right - thanks!

[2017-07-28 00:15] #367 closed

[2017-07-31 13:27] artyprog commented on #593
As suggested  by Utsal Shrestha I  have tried using a decorator,
but the wrapper function  is not called and get the same error...

[2017-08-01 03:13] Hiren-Mehta opened #595 "Test suite returns many AssertionErrors"
The system in question is an Asus EeeBook X205TA running Windows with Python 3.4.4. The sandbox runs successfully but many tests, especially those in the tests.builtins.test_hash group fail, returning an AssertionError.

``python setup.py test -s tests.builtins.test_hash.BuiltinHashFunctionTest
s.test_None
C:\Python34\lib\site-packages\setuptools\dist.py:285: UserWarning: Normalizing '3.4.0-dev19'

[2017-08-01 11:42] Axle7XStriker opened #596 "Several Test Suite fails for modules, structures, datatypes"
I am a first time contributor and wanted to contribute to this project. According to the contribution guide i ran the test suite on my machine. And I found several test failures in tests.modules, tests.structures.test_generator,  tests.datatypes . All these test suites i have ran on Linux Mint 18, python 3.5.2.

Am I doing something wrong? If yes, how can I solve this problem?

[2017-08-01 11:45] freakboy3742 commented on #596
We run a CI system that runs the full test suite on every commit, so to the best of our knowledge there aren't any problems. However, sometimes there are local conditions and configurations that will cause problems. However, It's a little tell if you're doing something wrong without seeing the actual failures.

[2017-08-01 15:11] Axle7XStriker commented on #596
Some of the failed tests which I encountered are the following:
[code]

There are some failed testcases in test_time which are:
[code]

[2017-08-01 21:39] abonie commented on #483
Week 9:
There is a WIP PR for `with` statement: https://github.com/pybee/batavia/pull/594, it only needs some minor cleanup and will be ready for review.

I also have a quick, but working solution for splitting `WITH_CLEANUP` into `WITH_CLEANUP_START` and `WITH_CLEANUP_FINISH` here: https://github.com/abonie/batavia/tree/with_cleanup_python35. I will double check that this is all that is required

[2017-08-02 02:41] freakboy3742 opened #598 "Opcode 69:GET_YIELD_FROM_ITER not implemented"
PR #592 added support for `yield from`; however, because we didn't have CI set up for Python 3.5, we didn't pick up that the GET_YIELD_FROM_ITER opcode hasn't been implemented.

Problem is revealed pretty quickly if you uncomment the Python 3.5 build target for Beekeeper.

[2017-08-02 02:41] freakboy3742 commented on #598
Pinging @abonie because it's on his turf :-)

[2017-08-02 02:46] freakboy3742 commented on #596
Ok - there are two sources of problems here.

The errors with `Unknown opcode 69 (<69>)` show you've found a problem with Python 3.5 support. The support for generators and yield from is new, and opcode 69 (GET_YIELD_FROM_ITER) hasn't been added. I've opened ticket #598 to track this issue. If you are able to use Python 3.4 in your test environment, you won't have this problem.

The time-related e

[2017-08-02 02:46] freakboy3742 commented on #596
Oops - apologies - I closed this accidentally.

[2017-08-02 15:20] abonie commented on #598
I'm on it :+1:

[2017-08-02 15:57] abonie commented on #598
Related question: How do we want to handle supporting different Python versions in parallel? In this case I could define opcode 69 in `dis` module and since it is not used in Python 3.4, the only downside is that `dis.opname[69]` will return different results in CPython 3.4 and Batavia with Python 3.4 bytecode. However it gets more complicated when same opcode has different names across versions.

[2017-08-02 23:18] freakboy3742 commented on #598
I'm happy to address this at runtime, much as you've done with WITH_CLEANUP. `dis.opname[69]` should never be invoked on Python 3.4, so there's no real harm in having that code in the table, but in the case of a Python 3.4 opcode being altered, we can check at runtime if we're in Python 3.4 or 3.X.

Longer term, I would like to move to a model where we have a 3.4 branch, and 3.5 branch, and so on,

[2017-08-03 14:32] Axle7XStriker commented on #596
After running the test suite in python3.4 environment still there are some errors which are as follows:
[code]

And the errors in test_time are :
[code]

Also, please provide the code which you want me to run after opening the sandbox. There is nothing provided in the previous comment

[2017-08-04 11:16] sravanthbaratam commented on #452
yes

[2017-08-04 13:28] #452 closed

[2017-08-06 11:42] Hiren-Mehta commented on #595
Also, `npm install` had the following output:
`npm install
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"ia32"})`

[2017-08-07 01:21] timb07 opened #602 "PyStone seems to be going into an infinite loop"
Using the Batavia testbed, clicking "Run PyStone (5 loops)" seems to go into an infinite loop: the browser process uses 100% CPU, and the browser tab becomes unresponsive.

[2017-08-07 02:01] timb07 commented on #602
Copying and pasting the PyStone code from `test_pystone.py` into the testbed and running it directly (with `main(1)`) works fine.

[2017-08-07 02:17] qilyn commented on #46
Hi all, first time on the repo! I'm grabbing `test_int_neg_y_pos_z` just to get a feel for things and see what's what :D

[2017-08-07 06:33] higstar commented on #46
About to work on ``test_multiply_class`` in ``test_dict``.

[2017-08-08 02:18] JohnVonNeumann commented on #46
Working on  test_add_complex.

[2017-08-08 03:27] Lewis-Quill commented on #46
I'm working on test_float for test_pow!

[2017-08-08 22:45] abonie commented on #483
Week 10:
I finished up `with` statement (#594) and once that was merged, submitted PR for the Python 3.5+ compatibility (#620). Both of those things were more or less ready last week, so most of this week I spent working on parsing Python 3.6 bytecode. It is not ready yet, but you can check out current state here #621

BTW I should explain: Russell suggested that Python 3.6 compatibility would be

[2017-08-10 07:19] Zac-HD opened #622 "Use Hypothesis to generate example data for tests"
*Equivalent to pybee/voc#580.*

I'm a maintainer of Hypothesis, and discussed using it to test Batavia with Russell (@freakboy3742) at the PyConAU sprints.  I've got more than enough to do working on Hypothesis itself, but would be delighted to consult, mentor, teach, or assist anyone who wants to use it to test beeware things. Just @-mention me, and I'll answer!

The idea is that instead of check

[2017-08-15 20:56] abonie commented on #483
Week 11:
Still working on #621 (Python 3.6 bytecode compatibility). CALL_FUNCTION_* opcodes are done (and in the meantime I fixed splat operator #623), but I have some trouble with EXTENDED_ARG right now.

I think it would be good to create separate branches for different Python versions rather sooner than later.

[2017-08-17 17:00] judy2k commented on #46
I've implemented test_multiply_bytes in test_int.

[2017-08-17 17:01] jmannfel commented on #46
Working on test_multiply_bytes

[2017-08-17 22:36] parliamnt101 commented on #46
Working on

tests.builtins.test_str.test_noargs

[2017-08-17 23:45] vrootic commented on #46
Working on
test_add_int in test_float

[2017-08-18 18:58] vrootic commented on #46
Working on
tests.datatypes.test_float.InplaceFloatOperationTests.test_subtract_int
test_float.BinaryFloatOperationTests.test_subtract_int

[2017-08-18 22:17] vrootic commented on #46
Working on
tests.datatypes.test_float.InplaceFloatOperationTests.test_add_complex
test_float.BinaryFloatOperationTests.test_add_complex

[2017-08-19 06:43] vrootic commented on #46
#642 test_add_complex and test_subtract_complex are working properly

[2017-08-19 10:48] judy2k commented on #26
@freakboy3742 I think this issue has been accidentally re-opened. There's a separate issue for Python 3.6: #181

[2017-08-20 01:41] rkenmi commented on #46
I will be working on `tests.datatypes.test_float.InplaceFloatOperationTests.test_modulo_int`

[2017-08-20 06:29] agronauts commented on #574
[issue574_notes.txt](https://github.com/pybee/batavia/files/1236895/issue574_notes.txt)
Finding this a very difficult thing to debug if someone else wants to get it a go. Attached are my notes on it

[2017-08-21 06:10] vrootic commented on #46
Fix test_unary_negative and test_unary_invert in test_set

[2017-08-22 22:34] abonie commented on #483
Week 12:
Python 3.6 compatibility #621 done and merged.

I fixed multiple discrepancies in error messages between Python 3.4, 3.5 and 3.6 here #643, it is ready for review. Now most of the tests pass for each version. BTW discovered and fixed bug in `yield from` #646

[2017-08-30 07:47] abonie opened #647 "Failing test cases for string formating in newer Python versions"
## Current Behavior

Few tests still fail for newer Python versions (3.5+), namely:
`tests.datatypes.test_str.FormatTests.test_basic` in 3.5 and `tests.datatypes.test_str.FormatTests.test_basic` and `tests.datatypes.test_str.NewStyleFormatTests.test_groupings` in 3.6
It seems like something else than just a difference in error messages

## Steps to reproduce

1. Run mentioned test cases from `test

[2017-08-30 09:04] abonie commented on #483
Wrap up:
#643 is merged, I promised a cleanup PR to make runtime version checks less awkward, but did not manage to deliver this week. I still intend to do it next week though.

Other than that, GSoC 2017 is over and I am pretty happy with work I have accomplished over the summer. Few things from original proposal that are still missing:
* dict view objects
* few features of JSON decoding (I expec

[2017-08-30 16:48] wolfv commented on #483
Congrats!

[2017-09-01 20:16] lielfr commented on #46
working on all the `tests.datatypes.test_slice.BinarySliceOperationTests.test_add_` cases

[2017-09-06 04:25] mtn commented on #46
Working on `tests.builtins.test_pow.PowTests` 🖌

[2017-09-09 09:48] lielfr commented on #46
working on all `tests.datatypes.test_slice.BinarySliceOperationTests.test_and_`

[2017-09-22 05:41] brandonsoto commented on #46
Working on `tests.datatypes.test_int.BinaryIntOperationTests.test_multiply_`

[2017-09-25 23:17] brandonsoto commented on #46
Working on `tests.datatypes.test_bytes.UnaryBytesOperationTests_`

[2017-09-27 06:33] vrootic commented on #46
Fixed tests.datatypes.test_bool.InplaceBoolOperationTests.test_true_divide_complex and tests.datatypes.test_bool.BinaryBoolOperationTests.test_true_divide_complex

[2017-09-30 15:29] davem7 commented on #602
I was just going through the tutorial and thought I was having the same issue, but after letting it sit for a bit, the Console output showed the results for 50000 loops.  It seems to execute 50000 loops regardless of which button is pressed.

[2017-10-07 13:01] sebassdc commented on #46
working on test.datatypes.test_str.StrTest.test_capitalize_no_args

[2017-10-07 21:39] #515 closed

[2017-10-08 02:50] sebassdc opened #669 "Can i remove passed test?"
Im running `test.datatypes.test_str.StrTests` and all pass, can i delete the test that pass correctly?

[2017-10-08 02:55] freakboy3742 commented on #669
@sebassdc No - you don't ever *delete* tests - the point of tests is to keep running them after every change to make sure that behavior doesn't change unexpectedly as a result of some future change.

The only things you *might* delete are entries in the "not_implemented" lists, or @expectedFailure markers. However, you should only be deleting these in response to implementing some new functionalit

[2017-10-08 03:29] sebassdc commented on #669
Thanks, it was a pretty little big confusion. 😅

[2017-10-08 03:29] #669 closed

[2017-10-08 04:20] sebassdc opened #670 "Path to spanish docs contribution?"
I'll like to help translating the batavia docs. I will copy the actual docs to translate them line to line. What folder structure would you recommend me to put the spanish doc? I mean, on what path.

[2017-10-09 01:06] freakboy3742 commented on #670
@sebassdc Good question! We haven't started looking at translations for individual projects - to date, our translation efforts have been focussed on the main website.

A great way to contribute would be to sort out what exactly we need to do to translate Sphinx documentation. A good starting point will be [this document](http://www.sphinx-doc.org/en/stable/intl.html). You're in new territory here,

[2017-10-09 03:40] sebassdc commented on #670
Do you like the sphinx way? I would recomend another service like gitbook, its all markdown wich is more easy for everyone. I can help with the migration and the internationalitation. What do you think @freakboy3742 ?

[2017-10-09 03:41] freakboy3742 commented on #670
Yes, we're going to keep Sphinx for docs. I don't agree markdown is better for long-form documentation - it lacks many features for multiple-page documents. It's also the standard for Python projects generally.

[2017-10-09 03:51] sebassdc commented on #670
Ok, I will investigate sphinx Internationalization and help with that. But check the gitbook [link](https://toolchain.gitbook.com/languages.html) and how the multi-page stuff is managed. Its very **simple**. I mean markdown its standard on many areas. It would be easiest to have more people with markdown knowledge

[2017-10-12 17:43] Divya063 commented on #275
@freakboy3742 Is this issue still available?

[2017-10-13 02:02] freakboy3742 commented on #275
@Divya063 yes - there's still a couple of the features initially flagged that are up for grabs!

[2017-10-16 20:38] alexandear opened #672 "Typo in project description"
The project description has the typo in word "JavaScript":

Should be:

[2017-10-16 23:30] freakboy3742 commented on #672
Thanks for the report! I've just corrected that text.

[2017-10-16 23:30] #672 closed

[2017-10-23 14:40] DarkSoulCool opened #674 "batavia/.github/issue_template.md"
![untitled](https://user-images.githubusercontent.com/26427878/31895058-64c9ee20-b83a-11e7-912f-2e55955d7887.png)

[2017-10-24 01:09] freakboy3742 commented on #674
This is an issue template. It's there to provide you with hints for what information to provide when submitting a bug report.

[2017-10-24 01:09] #674 closed

[2017-10-27 19:37] head61771 opened #677 "Behavior"
## Expected Behavior

## Current Behavior

## Steps to reproduce

1.

2.

3.

## Your Environment

* Python Version (list the specific version number)

* Operating System and Version (select from the following and list the specific version number; if your OS is not listed, list that as well)

  - [ ] OSX
  - [ ] Linux
  - [ ] Windows
  - [ ] Ubuntu

[2017-10-27 22:25] glasnt commented on #677
Hi! It looks like you submitted an empty issue. I'll close this for now; if you want to come back and edit it, please feel free

[2017-10-27 22:25] #677 closed

[2017-10-29 11:16] likithb12 opened #680 "joining"
## Expected Behavior

## Current Behavior

## Steps to reproduce

1.

2.

3.

## Your Environment

* Python Version (list the specific version number)

* Operating System and Version (select from the following and list the specific version number; if your OS is not listed, list that as well)

  - [ ] OSX
  - [ ] Linux
  - [ ] Windows
  - [ ] Ubuntu

[2017-10-29 21:56] glasnt commented on #680
Hi! It looks like you created an empty issue. I'm going to close this. I hope to see you contribute to batavia soon ✨

[2017-10-29 21:56] #680 closed

[2017-11-05 14:30] eliasdorneles opened #682 "Setup HTML redirects for links used in the website"
## Expected Behavior

Links previously used in the website should redirect to some version of the content.

## Current Behavior

These links are currently returning a 404:

http://batavia.readthedocs.io/en/latest/community/contributing.html
http://batavia.readthedocs.io/en/latest/intro/index.html

## Proposal solution

We can do HTML redirects as suggested here: https://tech.signavio.com/2017/mana

[2017-11-07 19:02] parthpahariya opened #683 "./stdlib is not present in '../pybee/batavia/batavia'"
## Expected Behavior

## Current Behavior

## Steps to reproduce

1.
ERROR in ./batavia/batavia.js
Module not found: Error: Can't resolve './stdlib' in '/home/parth/pybee/batavia/batavia'
 @ ./batavia/batavia.js 21:20-39

ERROR in ./batavia/builtins/__import__.js
Module not found: Error: Can't resolve '../stdlib' in '/home/parth/pybee/batavia/batavia/builtins'
 @ ./batavia/builtins/__import__.js 7

[2017-11-07 23:01] glasnt commented on #683
Hi @parthpahariya, this file is generated in the `npm run build` step of the quickstart.

Try running through all the steps https://github.com/pybee/batavia#quick-start and see if you can get it working.

Thanks!

[2017-11-12 02:37] lschumm commented on #537
nope! io module is the way to go.

[2017-11-12 02:37] #537 closed

[2017-11-13 09:08] JaesungNa opened #685 "'cricket-unittest run all' 922+ Fails [Window]"
I am following 'Contributing to Batavia' steps to start to see where I can contribute to batavia project.

I am using python 3.4 and Widow 10. I followed up to 'Running the test suite' However, when I try to use cricket/cmd to test the code, every builtin~FunctionTests fails as below. (922 fails+)

Futhermore, I spend more than a hour waiting to get test results for all the test case. Is it normal

[2017-11-13 12:33] freakboy3742 commented on #685
@JaesungNa Thanks for the report!

The test suite *does* take a long time to run - 10 *hours* seems a little long, but it's difficult to say without knowing details about your computer's speed.

However, the test suite *should* pass without any errors. It looks like you're getting consistent errors, so something is clearly going wrong.

My suggestion would be to run a single test - highlight a sin

[2017-11-13 13:24] persona5173 opened #686 "docs/index.rst in toctree ‘project/index’"
An error occurred in 'make html' while building sphinx to contribute docs.

I looked at 'index.rst' to find out why.
In 'index.rst', 'project'directory does not exist, but there was code that references' project / index'.

How do I fix this?

/Users/jinhyeok/Desktop/OpenSource_CNU/pybee/batavia/docs/index.rst:98:toctree contains reference to nonexisting document 'project/index'
make: *** [html] Er

[2017-11-13 13:40] Boeing737ng opened #687 "Two odd functionalities on running PyStone"
Hi, I was going through its features and just playing around with it before i start contributing this project. While doing so, I found something odd while i was running PyStone on my local environment.

Firstly, it appears to give a result of 50000 loops regardless of which loops we choose to run.
Secondly, it takes too long time (more than 100 sec) to run PyStone when it takes less than a second

[2017-11-13 15:32] parthpahariya commented on #683
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

while doing "npm install"

[2017-11-16 08:39] lielfr commented on #685
I've had success with the latest node and npm versions (on Linux though).
Also make sure you ran `npm run build` before running the tests.

[2017-11-20 07:16] JaesungNa commented on #685
@freakboy3742 Thank you for the feedback!

I have thoroughly read your feedback, and it still _throws errors_ which also _takes ages to finish its test suite_.

1. My laptop details

   - i5-6200U
   - RAM 8.00GB
   - Window 10 Enterprise 64 bit

2. node/npm version check
![image](https://user-images.githubusercontent.com/24473577/33004976-fd77fffe-ce06-11e7-8bb7-7ab533e33e84.png)

3. npm run buil

[2017-11-20 10:57] freakboy3742 commented on #685
@JaesungNa Thanks for posting those logs - they're very helpful (although posting raw copy & pasted text, rather than images, is generally more helpful)

As I said last time - the long run time is expected. The test suite takes a long time to run. A *very* **looooooong** time. We usually only run the full test suite on our automated build hardware when you submit a pull request.

The "no files fou

[2017-11-21 00:57] candeira commented on #414
I'd like to give this one a try, at least the first research dive. Here's the conversation we had on gitter (what follows is Russ's):

- What is the WASM binary format
- Can we produce it directly?
- What bootstrapping do we need to put in place to make a WASM module “invokable” from Javascript
- A Python script that produces a WASM module that does:

[code]

Doesn’t need to go through Python byte

[2017-11-21 02:06] JaesungNa opened #690 "'./manage.py runserver' fails [Window]"
In README.rst, [Running Batavia in the browser](https://github.com/pybee/batavia#running-batavia-in-the-browser) section,

It guides us to write './manage.py runserver' command to run the server without the indication of appropriate OS, which however clearly indicated in [Python In The Browser](http://batavia.readthedocs.io/en/latest/tutorial/tutorial-1.html).

If we could state whether this comma

[2017-11-21 04:57] candeira commented on #329
I'm leaving this here because a batavia user might be including a library that uses `time.sleep()`, and well, it can be implemented!

https://hackernoon.com/lets-make-a-javascript-wait-function-fa3a2eb88f11

[2017-11-21 08:10] freakboy3742 commented on #687
Looks like a duplicate of #602

[2017-11-21 08:10] #687 closed

[2017-11-21 08:12] freakboy3742 commented on #686
Looks like a stale reference - there would have been a project/index.rst until recently; but it looks like I didn't run a full rebuild before pushing the PR. You should be able to just delete the line (and submit a PR of that!)

[2017-11-21 11:07] persona5173 commented on #686
Thank you!! :)
I solved the issue and submit a PR!

[2017-11-23 02:59] #686 closed

[2017-12-03 00:37] ncoghlan opened #693 "Heads up: likely change to exception handling opcodes in CPython 3.7"
CPython currently relies heavily on eval loop magic to handle unwinding the stack after exceptions and other operations. This complexity then gets inherited by other eval loop implementations that rely on the CPython compiler as a front-end.

For CPython 3.7, it currently seems likely that we're going to shift more of the work into the compiler, such that the stack unwinding is explicit in the byt

[2017-12-03 00:41] freakboy3742 commented on #693
Thanks for the heads up, Nick.

On a side note, it's possible this might (eventually) become a moot point; we're doing some initial exploration on whether we can compile direct to WASM using the same approach VOC takes. This *should* result in a speed bump, more shared code between the the two projects, and remove the fragility caused by depending on bytecode format.

[2017-12-10 13:25] Boeing737ng opened #698 "Console output scrollbar issue"
## Expected Behavior
It is not a problem if output results does not exceed console's maximum height but when it does, scrollbar just stays top.
It would be nice if it behaves like any other code editors' console. (i.e. PyCharm, eclipse).

## Current Behavior
Console output(`#pyconsole`) scrollbar always stays top of it's box

## Your Environment

* Python Version (list the specific version number)

[2017-12-11 05:24] JaesungNa commented on #685
@freakboy3742  Thanks for the feedback! I found a clue where I get those error from.

**1. Initial Error**
   -  Looks like there is a problem arising from line **'self.assertEqual(js_out, py_out, context)' in def assertCodeExecution() in class TranspileTestCase(TestCase) in utils.py**

[code]

**2.  result after modification**
   - So I have checked the result of each 'js_out' and 'py_out'
[code]

[2017-12-11 07:50] freakboy3742 commented on #685
You're narrowing down on the cause, but you have't got it yet. The `|||` and `///` markers are an important part of the output handling process - [this code](https://github.com/pybee/batavia/blob/master/tests/utils.py#L386) has the description of what they're doing.

There is clearly a bug related to this handling - but the fix isn't to just delete those prefixes.

[2017-12-13 01:10] Zac-HD commented on #71
Closed by #621?

[2017-12-13 01:11] freakboy3742 commented on #71
@Zac-HD Indeed it is. Thanks!

[2017-12-13 01:11] #71 closed

[2017-12-13 01:12] Zac-HD commented on #181
Also closed by #621 I think 😉

[2017-12-13 01:17] Zac-HD commented on #26
Was this fixed by #89?

[2017-12-13 21:02] lielfr opened #701 "Difficulties implementing classmethod"
So, the classmethod builtin is actually a decorator which is meant to allow functions access to the class definition. In order to implement this in Batavia, we need to actually get the parent of the function, which cannot be done in "pure" javascript because a function can have multiple parents.
Does anyone have suggestions on how it should be implemented?

[2017-12-13 23:33] freakboy3742 commented on #26
Yup!

[2017-12-13 23:33] #26 closed

[2017-12-13 23:33] freakboy3742 commented on #181
Indeed!

[2017-12-13 23:33] #181 closed

[2017-12-19 05:06] johnsolo15 commented on #685
I have a very similar problem and I'm using windows 10 as well. All of the BuiltinWhateverFunctionTests are failing. I'm also from the US so it might not be a language encoding issue. I'm using node version 6.9.1, npm version 5.6.0, and python version 3.4.

This is the error I get for the test BuiltinAbsFunctionTests>test_None:

[code]
I'm also getting the /// as output. In addition, it looks like

[2017-12-19 06:42] freakboy3742 commented on #685
@johnsolo15 Hrm - interesting. My money is still on encoding of *some* kind, but it's clearly not as simple as "non-english language" encoding. Since you're on Windows as well, CRLF encoding would be my next guess - but I'd need to dig in to the code on a Windows box to work out more. Anything you can discover would be very helpful.

[2017-12-19 20:40] lielfr commented on #685
I think I found the problem.
In tests/utils.py, line 424:
`lines1 = code1.split(os.linesep)`

It seems like the output from javascript does not respect the native line separator difference. Changing it to:
`lines1 = code1.split('\n')`
seems to solve the problem, but I'm not sure it's the right solution.

[2017-12-21 01:25] freakboy3742 commented on #414
Some useful resources:
* [A WASM explorer](https://mbebenita.github.io/WasmExplorer/) - explore the path from C to WAST.
* [A dive into what can be done with WASM](https://www.youtube.com/watch?v=bac0dGQbUto)

[2017-12-23 07:50] johnsolo15 commented on #685
@lielfr Thanks. That fixes most of the problems, although I still get 4 errors. I'm going to see if I can do a little more investigating.

[2017-12-27 16:46] Vishnu-M commented on #46
Working on test_truthiness

[2017-12-29 05:42] #698 closed

[2018-01-03 03:14] smitar0y commented on #685
Hi,

I got the same issue when running from windows the extra /// and |||.

What I did to get away with these errors I changed in utils.py as in attached image.

![image](https://user-images.githubusercontent.com/32587975/34508072-fbcad334-f061-11e7-833e-e8627d1c7b5a.png)

This worked fine in windows . I am not sure why we /// and ||| in print statement.

[2018-01-03 03:16] freakboy3742 commented on #685
@smitar0y That fix might fix *some* problems, but if you run the full test suite, you'll see *lots* of new problems. The "|||" prefix is a marker for post-processing, used to work around formatting and ordering discrepancies in certain tests. The fix reported by @lielfr seems closer to the mark.

[2018-01-03 03:21] smitar0y commented on #685
Let me check fix reported by @lielfr .
Btw I see a commit on this one
https://github.com/pybee/batavia/pull/700/files#diff-0

[2018-01-03 03:25] freakboy3742 commented on #685
@smitar0y Yes - you're not the first to suggest this fix :-). If you check the CI results for that PR, you'll see what happens to the rest of the test suite.

[2018-01-03 03:53] smitar0y commented on #685
Checked with fixes suggested by @lielfr . The tests looks good on windows. I think we should implement this change.

[2018-01-03 04:48] freakboy3742 commented on #685
@smitar0y Can you submit a pull request implementing this fix?

[2018-01-03 04:54] smitar0y commented on #596
I am also seeing these errors in test_time on windows with python 3. Will check to get more details.

[2018-01-03 09:18] smitar0y commented on #685
Sure .Working on it.

[2018-01-03 09:24] smitar0y commented on #685
Done.
![image](https://user-images.githubusercontent.com/32587975/34514995-0b4a28c6-f096-11e7-8ecc-ba5c268d4ad9.png)

[2018-01-05 10:51] smitar0y commented on #690
Do you want to change the write up in Running Batavia in the browser section?

[2018-01-06 01:43] freakboy3742 commented on #690
Any clarification for Windows users is definitely appreciated.

[2018-02-19 22:57] abhayjindal51 commented on #46
I would like to work on test int - test_power_float.

[2018-02-22 12:57] Souldiv commented on #581
can you tell me the steps to reproduce this issue?

[2018-02-22 15:40] jstoebel commented on #581
Hi @Souldiv This issue is several months old and may have been addressed by now. @freakboy3742 does Batavia support this now?

[2018-02-22 15:43] shubhamivane commented on #46
I want to contribute can somebody help. Where should I start.

[2018-02-22 20:46] igormcoelho opened #717 "Runserver fails in linux"
## Expected Behavior

Expected code is executed after clicked "Run your code"

## Current Behavior

Nothing happens on localhost:8000, but on terminal, error 404 arises:

Django version 1.10, using settings 'settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
[22/Feb/2018 20:43:27] "POST / HTTP/1.1" 200 26106
[22/Feb/2018 20:43:27] "GET /static/native.js

[2018-02-23 01:23] freakboy3742 commented on #581
@jstoebel It does, but only in a [branch that hasn't landed yet](https://github.com/pybee/batavia/pull/705). I'm trying to nail down the last couple of issues with that patch, but once I have, the whole function calling and dispatch code will be a lot cleaner.

[2018-02-23 01:31] freakboy3742 commented on #717
If you're getting a 404, it sounds like you've missed a step from the setup instructions, or one of those steps raised an error.

This may be due to an incompatible NPM or Node version; or an incomplete Batavia build.

The easiest way to restart things is to delete the `node_packages` directory, then re-reun steps 4 and 5 from [Tutorial 0](http://batavia.readthedocs.io/en/latest/tutorial/tutorial-

[2018-02-23 01:47] ncoghlan commented on #693
This didn't land in 3.7, but it *has* landed for 3.8: https://github.com/python/cpython/pull/5006/files

It doesn't affect the AST though, only the interpreted opcode format, so if Batavia has switched to working at the AST level, then you can just close this.

[2018-02-23 02:46] freakboy3742 commented on #693
Thanks for the heads up, @ncoghlan. We haven't moved to anything AST based yet - I did some initial exploration, and it appears WASM isn't quite ready for dynamic languages (yet). It might be on the 3.8 release timeframe, however - we'll have to revisit this in a bit.

[2018-02-24 09:59] Souldiv commented on #685
I am too getting some failures, i am using python 3.4 and windows 10, i ran the test-suite three times now, twice with npm version 5.6.0 and node version 8.9.5 i got the same 50 failures, i tried running the tests one at a time but it still gave me failure, so i tried changing my node version and still got 50 failures

am i doing something wrong?  Here are the test logs
[code]
2. tried running tes

[2018-03-07 11:05] examin opened #721 "Error in Batavia/builtins/round.js"
## Expected Behavior
The built-in Python function round() takes in two numbers, one to be rounded, and one that specifies the number of decimal places to include.
## Current Behavior
producing some unexpected error

## Steps to reproduce

1.

![batavia testbed localhost_8000](https://user-images.githubusercontent.com/18100892/37089066-613405de-2225-11e8-8eb6-90780e072b50.png)

## Your Environment

[2018-03-08 14:29] sparkslabs opened #724 ""in" / "not in" do not work as expected."
First of all thanks for writing this. I saw the recording of your talk on this on youtube from a pycon or similar and thought it worth trying. Works really well over all. Many thanks!

With that, the bug report...

## Expected Behaviour

The following works in CPython:

    resource_id = "foo"
    user_resources_done = []

    if resource_id not in user_resources_done:
        print("Gotta do that

[2018-03-08 21:23] freakboy3742 commented on #724
Thanks for the comprehensive bug report! Looks like the definition of `__contains__` on lists is a bit naïve.

[2018-03-10 11:23] mdmjg opened #728 "GSOC: Implementing Batavia data types (draft)"
#  Introduction
My name is Maria del Mar Jaramillo, and I am Computer Science student from New York University Abu Dhabi. I discovered my passion for programming during my senior year in High School, and ever since then, I have participated in web development and app development projects that have deepened my passion for coding.

# Beeware Project
I would be interested in contributing to Beeware P

[2018-03-10 15:02] freakboy3742 commented on #728
You'll need to open permissions so everyone can view this; or, preferably, copy the content directly into the ticket.

As for the "about me" section; that's not really needed. We already know who you are from the pre-selection process, so it won't hurt or harm your proposal.

[2018-03-10 15:12] freakboy3742 commented on #728
Ok - I've taken a look; in short, we need a lot more detail. You've essentially just broken your 12 weeks into 3 blocks, one for each data type you're going to complete. What gives you any confidence that completing a datatype is 4 weeks of work?

This process isn't about starting with the time available and working backwards to allocate that time to tasks; you need to build up from the tasks that

[2018-03-10 16:09] mdmjg commented on #728
@freakboy3742 That's something I wanted to ask you actually. I'm not sure how much each data type could take... in your experience, do you think that it could be completed in much less or more than 4 weeks? I think some data types could definitely take more than others, as some of them have a lot more tests in the "not_implemented" list, I would specify the different times after choosing the data

[2018-03-10 16:39] freakboy3742 commented on #728
Keep in mind it's not just the "not_implemented" list that needs work. The not_implemented list is a list of automatically generated tests for operations, but there are still tests for the methods on objects. For example on the "float" datatype, the automatically generated tests will validate all the addition, subtraction and multiplication operations work; but there's still methods like conjugate

[2018-03-11 17:53] AasthaGupta opened #729 "GSoC: Adding support for asyncio in batavia (draft)"
### **Introduction**
Current implementation of Batavia includes many features of python but lacks python (3.5+) asyncIO feature. Implementing asynchronous concurrent event loop will not only help in supporting this feature but also help in building infrastructure for asynchronous message passing that can be used by websockets to provide real time message passing between server and client.

### **S

[2018-03-11 23:22] freakboy3742 commented on #729
Hi @AasthaGupta - this is a good start, but it needs a *lot* more detail. As I indicated during our call:

* The timeline needs to be on a week-by-week granularity.

* "Writing tests and documentation" *should not* be a line item - tests and documentation are an integral part of writing code, and can't be separated.

* Line items like "Implement Real time message passing" doesn't indicate that you

[2018-03-14 13:43] jedie commented on #683
I ran into the same Problem:
[code]

I'm trying to run the quickstart tutorial via docker.

The Dockerfile is here: https://github.com/jedie/batavia-docker/blob/master/Dockerfile

The full output is here: https://travis-ci.org/jedie/batavia-docker/builds/353335832#L1118-L1123

[2018-03-15 00:08] freakboy3742 commented on #683
The issue is probably due to a failure during `npm install`.

Log line 1086 looks like the only manifestation of that; the compile_stdlib step hasn't executed due to some sort of problem with the working directory. I can't say I've seen that particular error before, though.

[2018-03-15 14:28] jedie commented on #683
Hm. You mean:

Any idea what i can do to figure out the real problem?

[2018-03-15 21:52] freakboy3742 commented on #683
Not a clue, sorry. At a guess, I'd say it's something to do with Docker's filesystem protection layer, but I'd need to dig into this to debug it any further.

[2018-03-15 22:56] freakboy3742 commented on #729
@AasthaGupta This is much better, but still needs work.

You've started to identify the key parts that will be needed in an asyncio implementation; however, there's a lot of "hand waving" when it comes to the details. In particular, you've identified the *Python* side of the API... but what about the Javascript side? How are you planning to *implement* an event loop? Will you be using any Javascri

[2018-03-16 08:24] mdmjg commented on #728
Okay! I have made several changes, as well as adding specifying that I would be implementing the Frozen Set, dictionary and the html.parser module from the Python standard library. Could you take a look so I can see if I should submit it now?

[2018-03-16 12:09] freakboy3742 commented on #728
@mdmjg Could we possibly get this content *on* the ticket, rather than in a separate Google doc? That way, anyone in the community can provide feedback, and it's a better long-term archive for the project as a  whole.

[2018-03-16 15:59] mdmjg commented on #728
alright! I just edited it :)

[2018-03-17 13:47] freakboy3742 commented on #728
@mdmjg Ok - this is a lot better in terms of detail; but there is a lot more work required.

In particular, you'll want to take a closer look at the list of methods you've proposed. I can tell you've got this list by running dir() on the data type, and compared with the current implementations; but many of those methods already exist (e.g., the `__r...__` operators), are inherited from base classe

[2018-03-17 14:49] mdmjg commented on #728
@freakboy3742  I see. When going through the methods, I saw that __getattr__ was already implemented, but one of the necessary methods is __getattribute__. Is it necessary to implement __getattribute__ or would it not make sense?

[2018-03-17 14:58] freakboy3742 commented on #728
`__getattribute__` and `__getattr__` are closely related. The current master branch of Batavia hides this a bit; I'm working on a (very big) patch that will clean up that particular detail.

In general, ask yourself if the method is functionality on the datatype itself (how the data type behaves) or "meta" functionality (how the data type becomes a datatype in the first place). If it's a meta meth

[2018-03-18 10:41] mdmjg commented on #728
@freakboy3742  Alright, I will  not include it then. On another note, as you suggested, I will not implement the html parsing module because I still want to do both a data type and a module. Hence, I have been looking at the time module and I want to do a partial implementation of it. The time module has three sections: Functions, Constants and Time Constants. The Functions section is already part

[2018-03-18 11:43] freakboy3742 commented on #728
1. Implementing a couple of additional time methods seems a lot more plausible than the whole HTML Parser module. :-)

2. I'm not sure if you've updated your proposal to reflect the methods that have been deleted; the list that I'm seeing as of right now still has a lot of methods in the timeline that don't need to be addressed.

3. What you're hitting there is an occasion we need to fake somethin

[2018-03-18 12:21] mdmjg commented on #728
@freakboy3742  Oh yes, I hadn't updated my proposal cause I was waiting for your response so I could update it accordingly. I have made the changes now.

[2018-03-21 09:27] AasthaGupta commented on #729
@freakboy3742 I have updated the proposal addressing the issues you pointed out in previous revision. Please take a look at it.
I have looked over the asyncio code and included all the necessary details required to get started with its implementation.
- I have included the necessary details of how I will implement it.
- As this library has a lot of inter-dependencies, it will be best to have a bar

[2018-03-21 15:46] kosiew commented on #690
On Windows, when I ran
(beeware) c:\beeware\batavia\testserver>python manage.py runserver

  File "c:\beeware\batavia\testserver\urls.py", line 8, in <module>
    from test import pystone
ImportError: cannot import name 'pystone'

[2018-03-22 01:04] kosiew opened #731 "Windows - python manage.py runserver fails with Cannot import pystone"
==first timer==

I am trying to set up the batavia environment as per http://batavia.readthedocs.io/en/latest/tutorial/tutorial-1.html.

On Windows, when I ran
(beeware) c:\beeware\batavia\testserver>python manage.py runserver

I got this error:
Performing system checks...

Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x00000265D1710AE8>
Traceback (most recen

[2018-03-22 02:30] freakboy3742 commented on #731
Thanks for the report.

Unfortunately, this is a problem with Conda. The version of Python that they ship has many pieces - like the test library - stripped out. If you have a Python install from other sources (like the official binaries), test.pystone exists.

That said, in Python 3.7, it appears that PyStone has been stripped out anyway, so we may need to package pystone as part of Batavia itsel

[2018-03-22 16:26] mdmjg commented on #728
@freakboy3742  I have changed the methods for frozen set once again as you suggested. Also, after taking another look at the methods for dict, I realized that the necessary ones were already implemented, so I decided to take that part away altogether. I thought about including another data set but I think I should focus on the Frozen Set and time module for now. As you said, it's better to have a

[2018-03-23 09:30] freakboy3742 commented on #729
@AasthaGupta Thanks - that extra detail is very helpful.

The thing that is concerning me with this proposal at this point is that you've given an entire proposal about asyncio:

* without mentioning coroutines at all,
* without mentioning any of the features in ES6 or ES2017 that support asynchronous operation, and
* without mentioning how the "unix signal" based approach to asyncio used in CPyth

[2018-03-23 09:33] mdmjg commented on #728
@freakboy3742 Out of the methods I'm planning to implement the only one I would reuse from Set would be copy (because it is the only one that has been implemented already in Set). Realizing this made me consider that perhaps I could also implement those methods on set (by simply reusing the code I will write on Frozen Set). What do you think?

[2018-03-27 09:38] AasthaGupta commented on #729
@freakboy3742
I am not sure what do you mean by "Unix signal" based approach in asyncio? Is it how task resume/stop will be signalled or process signal handler?
Also I have updated the proposal.

[2018-03-29 10:15] djmgit opened #733 "pow not working properly for corner cases"
## Expected Behavior
pow function (builtins/pow.js) is not working as expected for corner cases. It should be at par with
python output for corner case (like y=0 and  z = 1 or -1)

## Current Behavior
pow function is not behaving properly. Details of the output and how to reproduce is
given below.

## Steps to reproduce

1.Try executing the following python snippet:
[code]
   and
[code]
    the ou

[2018-03-29 10:17] djmgit commented on #733
I am working on this.

[2018-03-29 11:18] djmgit opened #735 "Wrong error type returned by pow function"
## Expected Behavior
Pow function should return ValueError when there are 3 arguments and the second argument is
negative.

## Current Behavior
Batavia is returning TypeError for the above mentioned case. This is also causing the tests in tests/builts/test_pow to fail.

## Steps to reproduce

1. Execite the following code snippet using Batavia
[code]
    Batavia returns TypeError:
[code]
    howev

[2018-03-29 11:19] djmgit commented on #735
I am working on this.

[2018-04-01 02:41] gobisa commented on #46
Working on tests.datatypes.test_range.BinaryRangeOperationTests.test_add_* and tests.datatypes.test_range.BinaryRangeOperationTests.test_and_*

[2018-04-01 02:43] NoahEhmann commented on #46
I am working on:
bytearray: test_add_bytearray
bytearray: test_add_bytes
bytes: test_add_bytearray
bytes: test_add_bytes

[2018-04-07 14:37] tlindsay8 opened #738 "No output after running"
## Expected Behavior

Hey I'm a first time contributor, I typed print("Hello World") in the browser and expected it to be in the console browser.

## Current Behavior

When I clicked the run code button nothing appeared in the console output area.
## Steps to reproduce

1.

2.

3.

## Your Environment

* Python Version (list the specific version number)
Python version 3.5.2
* Operating System and

[2018-04-07 23:50] freakboy3742 commented on #738
@tlindsay8 Thanks for the report. We need a bit more detail to help diagnose what is going on here.

When you say console, do you mean the Javascript console, or the console part of the webpage?

You say you're not getting errors in the console - are you getting *anything*?

[2018-04-09 23:16] tlindsay8 commented on #738
@freakboy3742 I'm getting this error:
ReferenceError: batavia is not defined[Learn More]  localhost:8000:             412:5

[2018-04-10 22:55] freakboy3742 commented on #738
@tlindsay8 Right - that sounds like something has gone wrong in the install phase, and you've missed (or ignored) an error message.

If you delete the `node_modules` directory and then re-run the `npm run build` step, that should clean up the problem - however, you'll need to check that you've got the right versions of Node and NPM. If you don't, you'll get an error building the batavia library, w

[2018-04-28 23:13] freakboy3742 commented on #729
Unfortunately, this project was not selected for the 2018 GSoC. Thanks for applying!

[2018-04-28 23:13] #729 closed

[2018-04-28 23:13] freakboy3742 commented on #728
Unfortunately, this project was not selected for the 2018 GSoC. Thanks for applying!

[2018-04-28 23:13] #728 closed

[2018-05-12 22:05] krtk6160 commented on #367
@freakboy3742 That commit wasn't accepted, and the pull request was never merged. I'm not sure if the problem still exists, though. Since it wasn't resolved by that commit, shouldn't the issue remain open?

[2018-05-14 13:52] #731 closed

[2018-05-14 18:36] nateftw commented on #46
I am working on BinaryBytearrayOperationTests.test_add_int

[2018-05-14 18:52] nicklambourne commented on #46
I'm working on BuiltinIntFunctionTests.test_None.

[2018-05-20 05:49] alamastor commented on #47
I thought I'd have a go at implementing dir(), but because of implementation differences between Batavia and CPython it doesn't seem like their output should match, e.g. in CPython bool inherits from int, but in Batavia it inherits from object. This means most of the tests that compare output with CPython are going fail.

Is this worth doing, or should I work on something else? Is there something

[2018-06-06 13:20] KlebGomes commented on #47
Hello. I'm a first timer and how could I help with this issue? What I need to do? I'm a bit lost here. hehe
I want to help and learn more and more about Python and program to develop my skills with experienced persons!

Thanks everyone!

[2018-06-07 00:41] freakboy3742 commented on #47
@KlebGomes Hi! Our guide for first time contributors is [here](http://pybee.org/contributing/how/first-time/) - that might provide some more context, and a guide for your first contribution. If you've already read that, or you've got more specific questions, let us know!

[2018-06-10 03:29] MrEx88 commented on #46
I am working on:
bytearray: test_power_* and test_and_*

[2018-06-20 10:28] marcus290 opened #757 "bool.__bases__"
## Expected Behavior
In Python, the native bool class inherits from int, so
[code]
returns:
[code]

## Current Behavior
The same code in Batavia returns an Attribute Error:
[code]
I came across this while implementing issubclass() builtin #740
## Steps to reproduce
1. enter `bool.__bases__` into the Batavia sandbox

## Your Environment
* Python Version (list the specific version number)
Python 3.4

[2018-08-12 12:54] son-vyas commented on #264
Hi @swenson , I would like to give it a try. I am a first time contributor but eager to learn and contribute. How can I help?

[2018-08-13 15:47] swenson commented on #264
@son-vyas This is a fairly deep issue to address, if it hasn't been already. It would probably be best to do something like:

* Check that the reproducer above still doesn't work.
* Look at #268
* Check the current state of how `super()` works as well as how our type inheritance works
* Figure out what we're doing differently than CPython
* Write code to make us do something a little closer to wha

[2018-08-26 06:59] noahhaasis commented on #724
Is this still open? @vn-ki seems to have solved this.

[2018-08-31 09:09] aelfricz commented on #275
Hi! I am a first-time contributor and just wanna find out if there are any more issues that are up for grabs?

[2018-09-09 10:05] parastripathi commented on #731
I was also facing the same issue on Ubuntu 16.04 while running the server.
The pystone.py file was available in test folder inside testserver/test/pystone.py but it was not available while running the server as python installation by anaconda affects it. So by adding pystone.py file in anaconda/lib/python3.6/test/ helps in resolving the issue.

[2018-10-19 18:51] lielfr opened #759 "Compiling a module to bytecode in the build process"
Hi.
So, I'm trying to implement the exec builtin. As you may know, it requires the ability to execute python code directly from batavia, which AFAIK is not possible because CPython is required for compiling into bytecode.
The two possibilites I though about are implementing a compiler in javascript and making a bridge module and compiling it when building batavia.
Which one is better for that purp

[2018-10-19 23:15] freakboy3742 commented on #759
A self-hosting Python compiler will the better long term solution; but exposing the server-side implementation of `exec()` as something that can be invoked over a HTTP call will be the easier approach to implement.

The server-side version will be a lot slower to *run*, and obviously won't work if the webpage is offline, but will probably be sufficient for many purposes.

[2018-12-09 02:23] SebStreb opened #762 "For loops with sequence objects"
I was trying to use for loops with iterable objects (implementing __iter__ method or __len__ and __getitem__ methods). I discovered that currently batavia does not accept objects implementing the sequence protocol (__len__ and __getitem__ methods).

The following code works on normal python but not on batavia :

[code]

I'm using python3.5 in a virtual environment running on macOS 10.14.1.

[2018-12-25 07:13] Seenivasanseeni commented on #46
I am working on locals() function

[2019-01-16 13:31] utkarsh-raj commented on #682
Is the issue open? @eliasdorneles

[2019-01-16 14:36] utkarsh-raj opened #766 "Contributing to Batavia Doc Enhancement"
## Expected Behavior

The current documentation for Batavia Installation tells one to use pip instead of pip3, but the Python version supported is >= 3. Also, in the instruction to run the tests in text mode (setup.py) runs python instead of python3.

## Current Behavior

If the user does not activate the venv, python can throw errors if both Python 2 and Python 3 are installed in the system.
Even

[2019-01-16 23:36] freakboy3742 commented on #766
As noted on the PR, this isn't necessary. If you're in the virtual environment, `python` will point at the version created by the virtual environment. I'd argue it's safer to *not* use the prefix - because by using `python`, you're guaranteeing that you're in an activated virtual environment. If you're not, `python` will start a Python2 interpreter, and you'll get an error.

[2019-01-16 23:36] #766 closed

[2019-01-21 05:19] SashwatAnagolum opened #771 "Unable to setup Batavia: webpack --progress error"
## Expected Behavior

Batavia is set up successfully.

## Current Behavior

'npm run build' throws an error:

Screenshots of the terminal I was running these commands in:
![image](https://user-images.githubusercontent.com/42544553/51453993-7d72f180-1d68-11e9-993f-3587c7e105b7.png)

![image](https://user-images.githubusercontent.com/42544553/51454497-fecb8380-1d6a-11e9-97d7-4b0e6188547b.png)

## St

[2019-01-21 22:34] danyeaw commented on #771
Thanks for your contribution by submitting the issue. It looks like I temporarily broke things while updating dependencies, sorry about that. #770 should fix this once merged 😀

[2019-02-02 18:50] clach04 commented on #272
NOTE typo in project name above above which confused me when I copied it :), https://github.com/pybee/ouroboros

[2019-02-04 12:03] windelbouwman commented on #414
This might also be of help. Almar did some experiment translating python into wasm: https://github.com/windelbouwman/ppci-mirror/blob/master/ppci/lang/python/python2wasm.py

[2019-02-16 17:12] vishal3410 commented on #47
Hii @freakboy3742 can i work on issubclass()

[2019-02-25 19:26] vishal3410 opened #773 "AttributeError : module' object has no attribute 'TimeoutExpired'"
## Expected Behavior
if the builtin is implemented:
`test_bool (tests.builtins.test_abs.BuiltinAbsFunctionTests) ... ok`

if the builtin is not implemented:
`test_abs_not_implemented (tests.builtins.test_abs.AbsTests) ... expected failure`

## Current Behavior
1.when running single test in builtins in vars function:
`/home/vishal/.pyenv/versions/3.5.0/lib/python3.5/distutils/dist.py:261: UserWarni

[2019-04-08 23:43] zimmah commented on #47
Is there a list of methods that are still open?

[2019-04-09 05:45] freakboy3742 commented on #47
@zimmah There isn't a list being manually maintained. There's two ways to check for methods still waiting on an implementation.

1. Check for a "NotImplemented" exception in the method implmentation in Batavia; and
2. Look at the tests, and see how substantial they are. The methods that are still waiting on an implementation (or partial implementations) will have very bare bones testing (if any at

[2019-05-07 20:35] jess010 opened #778 "Node modules use legacy name pybee"
The node modules for batavia, toga and ourobos reference the legacy name pybee.

If there is appetite to address this, a suggestion for doing so is as follows:

1. Set up a new account for @beeware on npmjs, resubmit the three modules
2. Deprecate the existing @pybee modules in line as per: https://stackoverflow.com/questions/28371669/renaming-a-published-npm-module
3. Update each of the batavia,

[2019-05-08 14:46] freakboy3742 commented on #778
Thanks for the heads up - we've got the beeware organization on npm, so we just need to republish the packages.

[2019-05-15 15:38] martica commented on #735
This was fixed by #784.

[2019-05-21 01:04] martica commented on #593
Looks like @xitij2000's PR fixed this. I'm going to close it out. Feel free to reopen it if you can still reproduce it, @artyprog.

[2019-05-21 01:04] #593 closed

[2019-05-21 01:11] martica commented on #771
@SashwatAnagolum Have you had a chance to try reproducing this since @danyeaw merge #770?

[2019-05-21 01:14] martica commented on #773
Sorry it's been such a long time since you posted with no reply.

To me it looks like you somehow don't have write permission to the directory where it is trying to output batavia.js. The following error suggests that to me.

```Error: EACCES: permission denied, open '/home/vishal/pybee/batavia/dist/batavia.js'```

[2019-05-21 01:25] martica commented on #762
Thanks for the report and the fix!

[2019-05-21 01:25] #762 closed

[2019-05-21 01:27] #735 closed

[2019-05-21 01:43] martica commented on #717
@igormcoelho Can you confirm if you were able to get this work after following [Tutorial 0](http://batavia.readthedocs.io/en/latest/tutorial/tutorial-0.html)? You call out tutorial 1 specifically in your steps to reproduce, but don't mention 0. If the `npm run build` command wasn't run you would see this behaviour.

[2019-05-21 02:05] martica commented on #602
It looks like the issue you found (List.__len__ returning a JS int) @timb07 is resolved now. Thanks for the report and the investigation.

[2019-05-21 02:05] #602 closed

[2019-05-21 02:45] martica commented on #721
This is fixed at head now. Thanks for the report!

[2019-05-21 02:45] #721 closed

[2019-05-21 05:01] #733 closed

[2019-05-21 05:02] martica commented on #690
Looks like the current state of the README shows the proper command for Windows.

[2019-05-21 05:02] #690 closed

[2019-05-21 05:16] martica commented on #574
I can't reproduce this now. Looks like it got fixed along the way. I've added your repro as a test case to ensure it stays that way. Thanks!

[2019-05-21 05:16] #574 closed

[2019-05-21 05:29] martica commented on #383
The test breakages from this have all been resolved now. The original issue of the new bytecode magic number is resolved. This looks fix. Thanks @shaib.

[2019-05-21 05:29] #383 closed

[2019-05-21 13:59] martica commented on #564
Looks like this is resolved. Functions need to be marked as $pyargs to get called with args and kwargs as a list and a dict.

[2019-05-21 13:59] #564 closed

[2019-05-21 14:01] martica commented on #738
Were you able to get running by redoing the `npm run build` step, @tlindsay8? It looks like that step didn't complete successfully and batavia.js wasn't available from your error description.

[2019-05-21 14:07] martica commented on #570
Looks like there should be a section in the docs about implementing functions and how to return values. The topic is covered partly [here](https://batavia.readthedocs.io/en/latest/how-to/builtins.html), but it doesn't cover returning values.